mascaret/mascaret-assim-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xs:schema [

<!-- These are the entity sets for ISO Latin 1 characters for the XHTML -->
<!ENTITY % HTMLlat1 PUBLIC '-//W3C//ENTITIES Latin 1 for XHTML//EN' 'xhtml-lat1.ent'>
<!-- ...................................................................... -->
<!-- XML-compatible ISO Latin 1 Character Entity Set for XHTML ............ -->
<!-- file: xhtml-lat1.ent

 Typical invocation:

 <!ENTITY % xhtml-lat1
 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN"
 "xhtml-lat1.ent" >
 %xhtml-lat1;

 This DTD module is identified by the PUBLIC and SYSTEM identifiers:

 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN"
 SYSTEM "http://www.w3.org/MarkUp/DTD/xhtml-lat1.ent"

 Revision: $Id: xhtml-lat1.ent,v 1.1 2006/07/05 15:12:14 matthieu Exp $ SMI

 Portions (C) International Organization for Standardization 1986:
 Permission to copy in any form is granted for use with conforming
 SGML systems and applications as defined in ISO 8879, provided
 this notice is included in all copies.
-->
<!ENTITY nbsp '&#160;'>
<!-- no-break space = non-breaking space, U+00A0 ISOnum -->
<!ENTITY iexcl '&#161;'>
<!-- inverted exclamation mark, U+00A1 ISOnum -->
<!ENTITY cent '&#162;'>
<!-- cent sign, U+00A2 ISOnum -->
<!ENTITY pound '&#163;'>
<!-- pound sign, U+00A3 ISOnum -->
<!ENTITY curren '&#164;'>
<!-- currency sign, U+00A4 ISOnum -->
<!ENTITY yen '&#165;'>
<!-- yen sign = yuan sign, U+00A5 ISOnum -->
<!ENTITY brvbar '&#166;'>
<!-- broken bar = broken vertical bar, U+00A6 ISOnum -->
<!ENTITY sect '&#167;'>
<!-- section sign, U+00A7 ISOnum -->
<!ENTITY uml '&#168;'>
<!-- diaeresis = spacing diaeresis, U+00A8 ISOdia -->
<!ENTITY copy '&#169;'>
<!-- copyright sign, U+00A9 ISOnum -->
<!ENTITY ordf '&#170;'>
<!-- feminine ordinal indicator, U+00AA ISOnum -->
<!ENTITY laquo '&#171;'>
<!-- left-pointing double angle quotation mark = left pointing guillemet, U+00AB ISOnum -->
<!ENTITY not '&#172;'>
<!-- not sign, U+00AC ISOnum -->
<!ENTITY shy '&#173;'>
<!-- soft hyphen = discretionary hyphen, U+00AD ISOnum -->
<!ENTITY reg '&#174;'>
<!-- registered sign = registered trade mark sign, U+00AE ISOnum -->
<!ENTITY macr '&#175;'>
<!-- macron = spacing macron = overline = APL overbar, U+00AF ISOdia -->
<!ENTITY deg '&#176;'>
<!-- degree sign, U+00B0 ISOnum -->
<!ENTITY plusmn '&#177;'>
<!-- plus-minus sign = plus-or-minus sign, U+00B1 ISOnum -->
<!ENTITY sup2 '&#178;'>
<!-- superscript two = superscript digit two = squared, U+00B2 ISOnum -->
<!ENTITY sup3 '&#179;'>
<!-- superscript three = superscript digit three = cubed, U+00B3 ISOnum -->
<!ENTITY acute '&#180;'>
<!-- acute accent = spacing acute, U+00B4 ISOdia -->
<!ENTITY micro '&#181;'>
<!-- micro sign, U+00B5 ISOnum -->
<!ENTITY para '&#182;'>
<!-- pilcrow sign = paragraph sign, U+00B6 ISOnum -->
<!ENTITY middot '&#183;'>
<!-- middle dot = Georgian comma = Greek middle dot, U+00B7 ISOnum -->
<!ENTITY cedil '&#184;'>
<!-- cedilla = spacing cedilla, U+00B8 ISOdia -->
<!ENTITY sup1 '&#185;'>
<!-- superscript one = superscript digit one, U+00B9 ISOnum -->
<!ENTITY ordm '&#186;'>
<!-- masculine ordinal indicator, U+00BA ISOnum -->
<!ENTITY raquo '&#187;'>
<!-- right-pointing double angle quotation mark = right pointing guillemet, U+00BB ISOnum -->
<!ENTITY frac14 '&#188;'>
<!-- vulgar fraction one quarter = fraction one quarter, U+00BC ISOnum -->
<!ENTITY frac12 '&#189;'>
<!-- vulgar fraction one half = fraction one half, U+00BD ISOnum -->
<!ENTITY frac34 '&#190;'>
<!-- vulgar fraction three quarters = fraction three quarters, U+00BE ISOnum -->
<!ENTITY iquest '&#191;'>
<!-- inverted question mark = turned question mark, U+00BF ISOnum -->
<!ENTITY Agrave '&#192;'>
<!-- latin capital A with grave = latin capital A grave, U+00C0 ISOlat1 -->
<!ENTITY Aacute '&#193;'>
<!-- latin capital A with acute, U+00C1 ISOlat1 -->
<!ENTITY Acirc '&#194;'>
<!-- latin capital A with circumflex, U+00C2 ISOlat1 -->
<!ENTITY Atilde '&#195;'>
<!-- latin capital A with tilde, U+00C3 ISOlat1 -->
<!ENTITY Auml '&#196;'>
<!-- latin capital A with diaeresis, U+00C4 ISOlat1 -->
<!ENTITY Aring '&#197;'>
<!-- latin capital A with ring above = latin capital A ring, U+00C5 ISOlat1 -->
<!ENTITY AElig '&#198;'>
<!-- latin capital AE = latin capital ligature AE, U+00C6 ISOlat1 -->
<!ENTITY Ccedil '&#199;'>
<!-- latin capital C with cedilla, U+00C7 ISOlat1 -->
<!ENTITY Egrave '&#200;'>
<!-- latin capital E with grave, U+00C8 ISOlat1 -->
<!ENTITY Eacute '&#201;'>
<!-- latin capital E with acute, U+00C9 ISOlat1 -->
<!ENTITY Ecirc '&#202;'>
<!-- latin capital E with circumflex, U+00CA ISOlat1 -->
<!ENTITY Euml '&#203;'>
<!-- latin capital E with diaeresis, U+00CB ISOlat1 -->
<!ENTITY Igrave '&#204;'>
<!-- latin capital I with grave, U+00CC ISOlat1 -->
<!ENTITY Iacute '&#205;'>
<!-- latin capital I with acute, U+00CD ISOlat1 -->
<!ENTITY Icirc '&#206;'>
<!-- latin capital I with circumflex, U+00CE ISOlat1 -->
<!ENTITY Iuml '&#207;'>
<!-- latin capital I with diaeresis, U+00CF ISOlat1 -->
<!ENTITY ETH '&#208;'>
<!-- latin capital ETH, U+00D0 ISOlat1 -->
<!ENTITY Ntilde '&#209;'>
<!-- latin capital N with tilde, U+00D1 ISOlat1 -->
<!ENTITY Ograve '&#210;'>
<!-- latin capital O with grave, U+00D2 ISOlat1 -->
<!ENTITY Oacute '&#211;'>
<!-- latin capital O with acute, U+00D3 ISOlat1 -->
<!ENTITY Ocirc '&#212;'>
<!-- latin capital O with circumflex, U+00D4 ISOlat1 -->
<!ENTITY Otilde '&#213;'>
<!-- latin capital O with tilde, U+00D5 ISOlat1 -->
<!ENTITY Ouml '&#214;'>
<!-- latin capital O with diaeresis, U+00D6 ISOlat1 -->
<!ENTITY times '&#215;'>
<!-- multiplication sign, U+00D7 ISOnum -->
<!ENTITY Oslash '&#216;'>
<!-- latin capital O with stroke = latin capital O slash, U+00D8 ISOlat1 -->
<!ENTITY Ugrave '&#217;'>
<!-- latin capital U with grave, U+00D9 ISOlat1 -->
<!ENTITY Uacute '&#218;'>
<!-- latin capital U with acute, U+00DA ISOlat1 -->
<!ENTITY Ucirc '&#219;'>
<!-- latin capital U with circumflex, U+00DB ISOlat1 -->
<!ENTITY Uuml '&#220;'>
<!-- latin capital U with diaeresis, U+00DC ISOlat1 -->
<!ENTITY Yacute '&#221;'>
<!-- latin capital Y with acute, U+00DD ISOlat1 -->
<!ENTITY THORN '&#222;'>
<!-- latin capital THORN, U+00DE ISOlat1 -->
<!ENTITY szlig '&#223;'>
<!-- latin small sharp s = ess-zed, U+00DF ISOlat1 -->
<!ENTITY agrave '&#224;'>
<!-- latin small a with grave = latin small a grave, U+00E0 ISOlat1 -->
<!ENTITY aacute '&#225;'>
<!-- latin small a with acute, U+00E1 ISOlat1 -->
<!ENTITY acirc '&#226;'>
<!-- latin small a with circumflex, U+00E2 ISOlat1 -->
<!ENTITY atilde '&#227;'>
<!-- latin small a with tilde, U+00E3 ISOlat1 -->
<!ENTITY auml '&#228;'>
<!-- latin small a with diaeresis, U+00E4 ISOlat1 -->
<!ENTITY aring '&#229;'>
<!-- latin small a with ring above = latin small a ring, U+00E5 ISOlat1 -->
<!ENTITY aelig '&#230;'>
<!-- latin small ae = latin small ligature ae, U+00E6 ISOlat1 -->
<!ENTITY ccedil '&#231;'>
<!-- latin small c with cedilla, U+00E7 ISOlat1 -->
<!ENTITY egrave '&#232;'>
<!-- latin small e with grave, U+00E8 ISOlat1 -->
<!ENTITY eacute '&#233;'>
<!-- latin small e with acute, U+00E9 ISOlat1 -->
<!ENTITY ecirc '&#234;'>
<!-- latin small e with circumflex, U+00EA ISOlat1 -->
<!ENTITY euml '&#235;'>
<!-- latin small e with diaeresis, U+00EB ISOlat1 -->
<!ENTITY igrave '&#236;'>
<!-- latin small i with grave, U+00EC ISOlat1 -->
<!ENTITY iacute '&#237;'>
<!-- latin small i with acute, U+00ED ISOlat1 -->
<!ENTITY icirc '&#238;'>
<!-- latin small i with circumflex, U+00EE ISOlat1 -->
<!ENTITY iuml '&#239;'>
<!-- latin small i with diaeresis, U+00EF ISOlat1 -->
<!ENTITY eth '&#240;'>
<!-- latin small eth, U+00F0 ISOlat1 -->
<!ENTITY ntilde '&#241;'>
<!-- latin small n with tilde, U+00F1 ISOlat1 -->
<!ENTITY ograve '&#242;'>
<!-- latin small o with grave, U+00F2 ISOlat1 -->
<!ENTITY oacute '&#243;'>
<!-- latin small o with acute, U+00F3 ISOlat1 -->
<!ENTITY ocirc '&#244;'>
<!-- latin small o with circumflex, U+00F4 ISOlat1 -->
<!ENTITY otilde '&#245;'>
<!-- latin small o with tilde, U+00F5 ISOlat1 -->
<!ENTITY ouml '&#246;'>
<!-- latin small o with diaeresis, U+00F6 ISOlat1 -->
<!ENTITY divide '&#247;'>
<!-- division sign, U+00F7 ISOnum -->
<!ENTITY oslash '&#248;'>
<!-- latin small o with stroke, = latin small o slash, U+00F8 ISOlat1 -->
<!ENTITY ugrave '&#249;'>
<!-- latin small u with grave, U+00F9 ISOlat1 -->
<!ENTITY uacute '&#250;'>
<!-- latin small u with acute, U+00FA ISOlat1 -->
<!ENTITY ucirc '&#251;'>
<!-- latin small u with circumflex, U+00FB ISOlat1 -->
<!ENTITY uuml '&#252;'>
<!-- latin small u with diaeresis, U+00FC ISOlat1 -->
<!ENTITY yacute '&#253;'>
<!-- latin small y with acute, U+00FD ISOlat1 -->
<!ENTITY thorn '&#254;'>
<!-- latin small thorn with, U+00FE ISOlat1 -->
<!ENTITY yuml '&#255;'>
<!-- latin small y with diaeresis, U+00FF ISOlat1 -->
<!-- end of xhtml-lat1.ent -->
<!-- These are the entity sets for special characters for the XHTML -->
<!ENTITY % HTMLsymbol PUBLIC '-//W3C//ENTITIES Symbols for XHTML//EN' 'xhtml-symbol.ent'>
<!-- ...................................................................... -->
<!-- ISO Math, Greek and Symbolic Character Entity Set for XHTML .......... -->
<!-- file: xhtml-symbol.ent

 Typical invocation:

 <!ENTITY % xhtml-symbol
 PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN"
 "xhtml-symbol.ent" >
 %xhtml-symbol;

 This DTD module is identified by the PUBLIC and SYSTEM identifiers:

 PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN"
 SYSTEM "http://www.w3.org/TR/MarkUp/DTD/xhtml-symbol.ent"

 Revision: $Id: xhtml-symbol.ent,v 1.1 2006/07/05 15:12:14 matthieu Exp $ SMI

 Portions (C) International Organization for Standardization 1986:
 Permission to copy in any form is granted for use with conforming
 SGML systems and applications as defined in ISO 8879, provided
 this notice is included in all copies.
-->
<!-- Relevant ISO entity set is given unless names are newly introduced.
 New names (i.e., not in ISO 8879 [SGML] list) do not clash with
 any existing ISO 8879 entity names. ISO 10646 [ISO10646] character
 numbers are given for each character, in hex. Entity values are
 decimal conversions of the ISO 10646 values and refer to the
 document character set. Names are Unicode [UNICODE] names.
-->
<!-- Latin Extended-B -->
<!ENTITY fnof '&#402;'>
<!-- latin small f with hook = function
 = florin, U+0192 ISOtech -->
<!-- Greek -->
<!ENTITY Alpha '&#913;'>
<!-- greek capital letter alpha, U+0391 -->
<!ENTITY Beta '&#914;'>
<!-- greek capital letter beta, U+0392 -->
<!ENTITY Gamma '&#915;'>
<!-- greek capital letter gamma, U+0393 ISOgrk3 -->
<!ENTITY Delta '&#916;'>
<!-- greek capital letter delta, U+0394 ISOgrk3 -->
<!ENTITY Epsilon '&#917;'>
<!-- greek capital letter epsilon, U+0395 -->
<!ENTITY Zeta '&#918;'>
<!-- greek capital letter zeta, U+0396 -->
<!ENTITY Eta '&#919;'>
<!-- greek capital letter eta, U+0397 -->
<!ENTITY Theta '&#920;'>
<!-- greek capital letter theta, U+0398 ISOgrk3 -->
<!ENTITY Iota '&#921;'>
<!-- greek capital letter iota, U+0399 -->
<!ENTITY Kappa '&#922;'>
<!-- greek capital letter kappa, U+039A -->
<!ENTITY Lambda '&#923;'>
<!-- greek capital letter lambda, U+039B ISOgrk3 -->
<!ENTITY Mu '&#924;'>
<!-- greek capital letter mu, U+039C -->
<!ENTITY Nu '&#925;'>
<!-- greek capital letter nu, U+039D -->
<!ENTITY Xi '&#926;'>
<!-- greek capital letter xi, U+039E ISOgrk3 -->
<!ENTITY Omicron '&#927;'>
<!-- greek capital letter omicron, U+039F -->
<!ENTITY Pi '&#928;'>
<!-- greek capital letter pi, U+03A0 ISOgrk3 -->
<!ENTITY Rho '&#929;'>
<!-- greek capital letter rho, U+03A1 -->
<!-- there is no Sigmaf, and no U+03A2 character either -->
<!ENTITY Sigma '&#931;'>
<!-- greek capital letter sigma, U+03A3 ISOgrk3 -->
<!ENTITY Tau '&#932;'>
<!-- greek capital letter tau, U+03A4 -->
<!ENTITY Upsilon '&#933;'>
<!-- greek capital letter upsilon,
 U+03A5 ISOgrk3 -->
<!ENTITY Phi '&#934;'>
<!-- greek capital letter phi, U+03A6 ISOgrk3 -->
<!ENTITY Chi '&#935;'>
<!-- greek capital letter chi, U+03A7 -->
<!ENTITY Psi '&#936;'>
<!-- greek capital letter psi, U+03A8 ISOgrk3 -->
<!ENTITY Omega '&#937;'>
<!-- greek capital letter omega, U+03A9 ISOgrk3 -->
<!ENTITY alpha '&#945;'>
<!-- greek small letter alpha, U+03B1 ISOgrk3 -->
<!ENTITY beta '&#946;'>
<!-- greek small letter beta, U+03B2 ISOgrk3 -->
<!ENTITY gamma '&#947;'>
<!-- greek small letter gamma, U+03B3 ISOgrk3 -->
<!ENTITY delta '&#948;'>
<!-- greek small letter delta, U+03B4 ISOgrk3 -->
<!ENTITY epsilon '&#949;'>
<!-- greek small letter epsilon, U+03B5 ISOgrk3 -->
<!ENTITY zeta '&#950;'>
<!-- greek small letter zeta, U+03B6 ISOgrk3 -->
<!ENTITY eta '&#951;'>
<!-- greek small letter eta, U+03B7 ISOgrk3 -->
<!ENTITY theta '&#952;'>
<!-- greek small letter theta, U+03B8 ISOgrk3 -->
<!ENTITY iota '&#953;'>
<!-- greek small letter iota, U+03B9 ISOgrk3 -->
<!ENTITY kappa '&#954;'>
<!-- greek small letter kappa, U+03BA ISOgrk3 -->
<!ENTITY lambda '&#955;'>
<!-- greek small letter lambda, U+03BB ISOgrk3 -->
<!ENTITY mu '&#956;'>
<!-- greek small letter mu, U+03BC ISOgrk3 -->
<!ENTITY nu '&#957;'>
<!-- greek small letter nu, U+03BD ISOgrk3 -->
<!ENTITY xi '&#958;'>
<!-- greek small letter xi, U+03BE ISOgrk3 -->
<!ENTITY omicron '&#959;'>
<!-- greek small letter omicron, U+03BF NEW -->
<!ENTITY pi '&#960;'>
<!-- greek small letter pi, U+03C0 ISOgrk3 -->
<!ENTITY rho '&#961;'>
<!-- greek small letter rho, U+03C1 ISOgrk3 -->
<!ENTITY sigmaf '&#962;'>
<!-- greek small letter final sigma, U+03C2 ISOgrk3 -->
<!ENTITY sigma '&#963;'>
<!-- greek small letter sigma, U+03C3 ISOgrk3 -->
<!ENTITY tau '&#964;'>
<!-- greek small letter tau, U+03C4 ISOgrk3 -->
<!ENTITY upsilon '&#965;'>
<!-- greek small letter upsilon, U+03C5 ISOgrk3 -->
<!ENTITY phi '&#966;'>
<!-- greek small letter phi, U+03C6 ISOgrk3 -->
<!ENTITY chi '&#967;'>
<!-- greek small letter chi, U+03C7 ISOgrk3 -->
<!ENTITY psi '&#968;'>
<!-- greek small letter psi, U+03C8 ISOgrk3 -->
<!ENTITY omega '&#969;'>
<!-- greek small letter omega, U+03C9 ISOgrk3 -->
<!ENTITY thetasym '&#977;'>
<!-- greek small letter theta symbol, U+03D1 NEW -->
<!ENTITY upsih '&#978;'>
<!-- greek upsilon with hook symbol, U+03D2 NEW -->
<!ENTITY piv '&#982;'>
<!-- greek pi symbol, U+03D6 ISOgrk3 -->
<!-- General Punctuation -->
<!ENTITY bull '&#8226;'>
<!-- bullet = black small circle, U+2022 ISOpub -->
<!-- bullet is NOT the same as bullet operator, U+2219 -->
<!ENTITY hellip '&#8230;'>
<!-- horizontal ellipsis = three dot leader, U+2026 ISOpub -->
<!ENTITY prime '&#8242;'>
<!-- prime = minutes = feet, U+2032 ISOtech -->
<!ENTITY Prime '&#8243;'>
<!-- double prime = seconds = inches, U+2033 ISOtech -->
<!ENTITY oline '&#8254;'>
<!-- overline = spacing overscore, U+203E NEW -->
<!ENTITY frasl '&#8260;'>
<!-- fraction slash, U+2044 NEW -->
<!-- Letterlike Symbols -->
<!ENTITY weierp '&#8472;'>
<!-- script capital P = power set = Weierstrass p, U+2118 ISOamso -->
<!ENTITY image '&#8465;'>
<!-- blackletter capital I = imaginary part, U+2111 ISOamso -->
<!ENTITY real '&#8476;'>
<!-- blackletter capital R = real part symbol, U+211C ISOamso -->
<!ENTITY trade '&#8482;'>
<!-- trade mark sign, U+2122 ISOnum -->
<!ENTITY alefsym '&#8501;'>
<!-- alef symbol = first transfinite cardinal, U+2135 NEW -->
<!-- alef symbol is NOT the same as hebrew letter alef, U+05D0 although
 the same glyph could be used to depict both characters -->
<!-- Arrows -->
<!ENTITY larr '&#8592;'>
<!-- leftwards arrow, U+2190 ISOnum -->
<!ENTITY uarr '&#8593;'>
<!-- upwards arrow, U+2191 ISOnum-->
<!ENTITY rarr '&#8594;'>
<!-- rightwards arrow, U+2192 ISOnum -->
<!ENTITY darr '&#8595;'>
<!-- downwards arrow, U+2193 ISOnum -->
<!ENTITY harr '&#8596;'>
<!-- left right arrow, U+2194 ISOamsa -->
<!ENTITY crarr '&#8629;'>
<!-- downwards arrow with corner leftwards
 = carriage return, U+21B5 NEW -->
<!ENTITY lArr '&#8656;'>
<!-- leftwards double arrow, U+21D0 ISOtech -->
<!-- Unicode does not say that lArr is the same as the 'is implied by' arrow
 but also does not have any other character for that function. So ? lArr can
 be used for 'is implied by' as ISOtech suggests -->
<!ENTITY uArr '&#8657;'>
<!-- upwards double arrow, U+21D1 ISOamsa -->
<!ENTITY rArr '&#8658;'>
<!-- rightwards double arrow, U+21D2 ISOtech -->
<!-- Unicode does not say this is the 'implies' character but does not have
 another character with this function so ?
 rArr can be used for 'implies' as ISOtech suggests -->
<!ENTITY dArr '&#8659;'>
<!-- downwards double arrow, U+21D3 ISOamsa -->
<!ENTITY hArr '&#8660;'>
<!-- left right double arrow, U+21D4 ISOamsa -->
<!-- Mathematical Operators -->
<!ENTITY forall '&#8704;'>
<!-- for all, U+2200 ISOtech -->
<!ENTITY part '&#8706;'>
<!-- partial differential, U+2202 ISOtech -->
<!ENTITY exist '&#8707;'>
<!-- there exists, U+2203 ISOtech -->
<!ENTITY empty '&#8709;'>
<!-- empty set = null set, U+2205 ISOamso -->
<!ENTITY nabla '&#8711;'>
<!-- nabla = backward difference, U+2207 ISOtech -->
<!ENTITY isin '&#8712;'>
<!-- element of, U+2208 ISOtech -->
<!ENTITY notin '&#8713;'>
<!-- not an element of, U+2209 ISOtech -->
<!ENTITY ni '&#8715;'>
<!-- contains as member, U+220B ISOtech -->
<!-- should there be a more memorable name than 'ni'? -->
<!ENTITY prod '&#8719;'>
<!-- n-ary product = product sign, U+220F ISOamsb -->
<!-- prod is NOT the same character as U+03A0 'greek capital letter pi' though
 the same glyph might be used for both -->
<!ENTITY sum '&#8721;'>
<!-- n-ary sumation, U+2211 ISOamsb -->
<!-- sum is NOT the same character as U+03A3 'greek capital letter sigma'
 though the same glyph might be used for both -->
<!ENTITY minus '&#8722;'>
<!-- minus sign, U+2212 ISOtech -->
<!ENTITY lowast '&#8727;'>
<!-- asterisk operator, U+2217 ISOtech -->
<!ENTITY radic '&#8730;'>
<!-- square root = radical sign, U+221A ISOtech -->
<!ENTITY prop '&#8733;'>
<!-- proportional to, U+221D ISOtech -->
<!ENTITY infin '&#8734;'>
<!-- infinity, U+221E ISOtech -->
<!ENTITY ang '&#8736;'>
<!-- angle, U+2220 ISOamso -->
<!ENTITY and '&#8743;'>
<!-- logical and = wedge, U+2227 ISOtech -->
<!ENTITY or '&#8744;'>
<!-- logical or = vee, U+2228 ISOtech -->
<!ENTITY cap '&#8745;'>
<!-- intersection = cap, U+2229 ISOtech -->
<!ENTITY cup '&#8746;'>
<!-- union = cup, U+222A ISOtech -->
<!ENTITY int '&#8747;'>
<!-- integral, U+222B ISOtech -->
<!ENTITY there4 '&#8756;'>
<!-- therefore, U+2234 ISOtech -->
<!ENTITY sim '&#8764;'>
<!-- tilde operator = varies with = similar to, U+223C ISOtech -->
<!-- tilde operator is NOT the same character as the tilde, U+007E,
 although the same glyph might be used to represent both -->
<!ENTITY cong '&#8773;'>
<!-- approximately equal to, U+2245 ISOtech -->
<!ENTITY asymp '&#8776;'>
<!-- almost equal to = asymptotic to, U+2248 ISOamsr -->
<!ENTITY ne '&#8800;'>
<!-- not equal to, U+2260 ISOtech -->
<!ENTITY equiv '&#8801;'>
<!-- identical to, U+2261 ISOtech -->
<!ENTITY le '&#8804;'>
<!-- less-than or equal to, U+2264 ISOtech -->
<!ENTITY ge '&#8805;'>
<!-- greater-than or equal to, U+2265 ISOtech -->
<!ENTITY sub '&#8834;'>
<!-- subset of, U+2282 ISOtech -->
<!ENTITY sup '&#8835;'>
<!-- superset of, U+2283 ISOtech -->
<!-- note that nsup, 'not a superset of, U+2283' is not covered by the Symbol
 font encoding and is not included. Should it be, for symmetry?
 It is in ISOamsn -->
<!ENTITY nsub '&#8836;'>
<!-- not a subset of, U+2284 ISOamsn -->
<!ENTITY sube '&#8838;'>
<!-- subset of or equal to, U+2286 ISOtech -->
<!ENTITY supe '&#8839;'>
<!-- superset of or equal to, U+2287 ISOtech -->
<!ENTITY oplus '&#8853;'>
<!-- circled plus = direct sum, U+2295 ISOamsb -->
<!ENTITY otimes '&#8855;'>
<!-- circled times = vector product, U+2297 ISOamsb -->
<!ENTITY perp '&#8869;'>
<!-- up tack = orthogonal to = perpendicular, U+22A5 ISOtech -->
<!ENTITY sdot '&#8901;'>
<!-- dot operator, U+22C5 ISOamsb -->
<!-- dot operator is NOT the same character as U+00B7 middle dot -->
<!-- Miscellaneous Technical -->
<!ENTITY lceil '&#8968;'>
<!-- left ceiling = apl upstile, U+2308 ISOamsc -->
<!ENTITY rceil '&#8969;'>
<!-- right ceiling, U+2309 ISOamsc -->
<!ENTITY lfloor '&#8970;'>
<!-- left floor = apl downstile, U+230A ISOamsc -->
<!ENTITY rfloor '&#8971;'>
<!-- right floor, U+230B ISOamsc -->
<!ENTITY lang '&#9001;'>
<!-- left-pointing angle bracket = bra, U+2329 ISOtech -->
<!-- lang is NOT the same character as U+003C 'less than'
 or U+2039 'single left-pointing angle quotation mark' -->
<!ENTITY rang '&#9002;'>
<!-- right-pointing angle bracket = ket, U+232A ISOtech -->
<!-- rang is NOT the same character as U+003E 'greater than'
 or U+203A 'single right-pointing angle quotation mark' -->
<!-- Geometric Shapes -->
<!ENTITY loz '&#9674;'>
<!-- lozenge, U+25CA ISOpub -->
<!-- Miscellaneous Symbols -->
<!ENTITY spades '&#9824;'>
<!-- black spade suit, U+2660 ISOpub -->
<!-- black here seems to mean filled as opposed to hollow -->
<!ENTITY clubs '&#9827;'>
<!-- black club suit = shamrock, U+2663 ISOpub -->
<!ENTITY hearts '&#9829;'>
<!-- black heart suit = valentine, U+2665 ISOpub -->
<!ENTITY diams '&#9830;'>
<!-- black diamond suit, U+2666 ISOpub -->
<!-- end of xhtml-symbol.ent -->
<!-- These are the entity sets for symbol characters for the XHTML -->
<!ENTITY % HTMLspecial PUBLIC '-//W3C//ENTITIES Special for XHTML//EN' 'xhtml-special.ent'>
<!-- ...................................................................... -->
<!-- XML-compatible ISO Special Character Entity Set for XHTML ............ -->
<!-- file: xhtml-special.ent

 Typical invocation:

 <!ENTITY % xhtml-special
 PUBLIC "-//W3C//ENTITIES Special for XHTML//EN"
 "xhtml-special.ent" >
 %xhtml-special;

 This DTD module is identified by the PUBLIC and SYSTEM identifiers:

 PUBLIC "-//W3C//ENTITIES Special for XHTML//EN"
 SYSTEM "http://www.w3.org/MarkUp/DTD/xhtml-special.ent"

 Revision: $Id: xhtml-special.ent,v 1.1 2006/07/05 15:12:14 matthieu Exp $ SMI

 Portions (C) International Organization for Standardization 1986:
 Permission to copy in any form is granted for use with conforming
 SGML systems and applications as defined in ISO 8879, provided
 this notice is included in all copies.

 Revisions:
2000-10-28: added &apos; and altered XML Predefined Entities for compatibility
-->
<!-- Relevant ISO entity set is given unless names are newly introduced.
 New names (i.e., not in ISO 8879 [SGML] list) do not clash with
 any existing ISO 8879 entity names. ISO 10646 [ISO10646] character
 numbers are given for each character, in hex. Entity values are
 decimal conversions of the ISO 10646 values and refer to the
 document character set. Names are Unicode [UNICODE] names.
-->
<!-- C0 Controls and Basic Latin -->
<!ENTITY lt '&#38;#60;'>
<!-- less-than sign, U+003C ISOnum -->
<!ENTITY gt '&#62;'>
<!-- greater-than sign, U+003E ISOnum -->
<!ENTITY amp '&#38;#38;'>
<!-- ampersand, U+0026 ISOnum -->
<!ENTITY apos '&#39;'>
<!-- The Apostrophe (Apostrophe Quote, APL Quote), U+0027 ISOnum -->
<!ENTITY quot '&#34;'>
<!-- quotation mark (Quote Double), U+0022 ISOnum -->
<!-- Latin Extended-A -->
<!ENTITY OElig '&#338;'>
<!-- latin capital ligature OE, U+0152 ISOlat2 -->
<!ENTITY oelig '&#339;'>
<!-- latin small ligature oe, U+0153 ISOlat2 -->
<!-- ligature is a misnomer, this is a separate character in some languages -->
<!ENTITY Scaron '&#352;'>
<!-- latin capital letter S with caron, U+0160 ISOlat2 -->
<!ENTITY scaron '&#353;'>
<!-- latin small letter s with caron, U+0161 ISOlat2 -->
<!ENTITY Yuml '&#376;'>
<!-- latin capital letter Y with diaeresis, U+0178 ISOlat2 -->
<!-- Spacing Modifier Letters -->
<!ENTITY circ '&#710;'>
<!-- modifier letter circumflex accent, U+02C6 ISOpub -->
<!ENTITY tilde '&#732;'>
<!-- small tilde, U+02DC ISOdia -->
<!-- General Punctuation -->
<!ENTITY ensp '&#8194;'>
<!-- en space, U+2002 ISOpub -->
<!ENTITY emsp '&#8195;'>
<!-- em space, U+2003 ISOpub -->
<!ENTITY thinsp '&#8201;'>
<!-- thin space, U+2009 ISOpub -->
<!ENTITY zwnj '&#8204;'>
<!-- zero width non-joiner, U+200C NEW RFC 2070 -->
<!ENTITY zwj '&#8205;'>
<!-- zero width joiner, U+200D NEW RFC 2070 -->
<!ENTITY lrm '&#8206;'>
<!-- left-to-right mark, U+200E NEW RFC 2070 -->
<!ENTITY rlm '&#8207;'>
<!-- right-to-left mark, U+200F NEW RFC 2070 -->
<!ENTITY ndash '&#8211;'>
<!-- en dash, U+2013 ISOpub -->
<!ENTITY mdash '&#8212;'>
<!-- em dash, U+2014 ISOpub -->
<!ENTITY lsquo '&#8216;'>
<!-- left single quotation mark, U+2018 ISOnum -->
<!ENTITY rsquo '&#8217;'>
<!-- right single quotation mark, U+2019 ISOnum -->
<!ENTITY sbquo '&#8218;'>
<!-- single low-9 quotation mark, U+201A NEW -->
<!ENTITY ldquo '&#8220;'>
<!-- left double quotation mark, U+201C ISOnum -->
<!ENTITY rdquo '&#8221;'>
<!-- right double quotation mark, U+201D ISOnum -->
<!ENTITY bdquo '&#8222;'>
<!-- double low-9 quotation mark, U+201E NEW -->
<!ENTITY dagger '&#8224;'>
<!-- dagger, U+2020 ISOpub -->
<!ENTITY Dagger '&#8225;'>
<!-- double dagger, U+2021 ISOpub -->
<!ENTITY permil '&#8240;'>
<!-- per mille sign, U+2030 ISOtech -->
<!-- lsaquo is proposed but not yet ISO standardized -->
<!ENTITY lsaquo '&#8249;'>
<!-- single left-pointing angle quotation mark, U+2039 ISO proposed -->
<!-- rsaquo is proposed but not yet ISO standardized -->
<!ENTITY rsaquo '&#8250;'>
<!-- single right-pointing angle quotation mark, U+203A ISO proposed -->
<!ENTITY euro '&#8364;'>
<!-- euro sign, U+20AC NEW -->
<!-- end of xhtml-special.ent -->
]>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fichierAssim">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="parametresGenerauxAssim">
                </xs:element>
                <xs:element minOccurs="0" ref="parametresCtlKS">
                </xs:element>
                <xs:element minOccurs="0" ref="parametresCtlLois">
                </xs:element>
                <xs:element minOccurs="0" ref="parametresCtlWaterline">
                </xs:element>
                <xs:element ref="parametresObservations">
                </xs:element>
                <xs:element minOccurs="0" ref="parametresSauvegardeLigneIni">
                </xs:element>
                <xs:element minOccurs="0" ref="parametresImpressionResultats">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresGenerauxAssim">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres généraux de l'assimilation de données.<br/>
Plus d'info sur la <a href="https://inle.cerfacs.fr/projects/mascaret-assimilation">page redmine</a> du projet Mascaret-Assimilation</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="false" name="ctlKS" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation du contrôle des coefficients de Strickler.
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">Activate the Strickler coefficients control
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="true" name="ctlLois" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation du contrôle des conditions limites (Lois).
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="true" name="ctlWaterline" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation du contrôle de la ligne d'eau.
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)
Ceci ne fonctionne pas lorsqu’il y a une île sur le secteur influencé par le contrôle de la ligne d'eau.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="true" name="sauvegardeLigneIni" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation de la sauvegarde de la ligne d'eau. 
La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants. 
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="true" name="impressionResultats" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation de l'impression des résultats.
Valeurs : true ou false.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresCtlKS">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Paramètres du contrôle des coefficients de Strickler Ks.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parametresGenerauxKS">
                </xs:element>
                <xs:element ref="tempsCtlKS">
                </xs:element>
                <xs:element ref="zonesKS">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresGenerauxKS">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Le contrôle des coefficients de Strickler Ks permet de modifier les Ks en lit mineur et/ou majeur pour améliorer les résultats à certaines stations d'observation.<br/> 
On aura autant de runs perturbés que de valeurs de Ks à caler (pour chaque zone et lit mineur et/ou majeur). Avec une machine multiprocesseur, certains de ces runs peuvent se faire en parallèle.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="Z" name="grandeurObserveeKS" type="choixGrandeur">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Grandeur des observations à assimiler pour le contrôle Ks.
Valeurs : Z ou Q.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="1.0" name="perturbationLitMin" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Perturbation des Ks du lit mineur (exemple -2 points de Strikler)<br/>
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation.<br/> Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="1.0" name="perturbationLitMaj" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Perturbation des Ks du lit majeur (exemple -2 points de Strikler)<br/>
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation.<br/>
 Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="20000." name="seuilRejetMisfitKS" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger les Ks.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element default="false" name="impressionKS" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation de l'impression Ks. Utile au post traitement graphique.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="iterationsSigmaKS" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Nombre d'itération pour le contrôle Ks</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tempsCtlKS">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle Ks.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tempsDebutCtlKS" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Début de la plage temporelle des observations utilisées pour le contrôle Ks (relatif au debut de la simulation).<br/>
Valeur en seconde.<br/>
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tempsFinCtlKS" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Fin de la plage temporelle des observations utilisées pour le contrôle Ks (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="frequenceObsCtlKS" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Pas de temps des observations à utiliser pour le contrôle Ks.<br/>
Valeur en seconde.<br/> 
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction des Ks par assimilation de données. Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dureeCtlKS" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Durée de la plage temporelle des observations utilisées pour le contrôle Ks. 
Valeur en seconde.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="zonesKS">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Zones Ks à contrôler à partir des observations à certaines stations d'observation.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="zoneKS">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="zoneKS">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Zone Ks à contrôler par assimilation de données</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ctlLitMin" type="ctlLit">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Contrôle des Ks du lit mineur</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ctlLitMaj" type="ctlLit">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Contrôle des Ks du lit majeur</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="stationsObsKS" type="stationsObsCtl">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Sites/stations d'observation utilisées pour le contrôle Ks.<br/> 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="numeroZone" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresCtlLois">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres du contrôle des lois.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parametresGenerauxLois">
                </xs:element>
                <xs:element ref="tempsCtlLois">
                </xs:element>
                <xs:element ref="loisCtl">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresGenerauxLois">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Le contrôle paramétrique des lois permet de modifier les paramètres a, b et/ou c des conditions limites<br/>
(débit amont, hauteur aval, débit linéique d'apport diffus) pour améliorer les résultats à certaines stations d'observation.<br/>
Dans le cas d'une loi i en débit : Qi(modifié)=ai*Qi(t-ci)+bi
	</xs:documentation>
	<xs:documentation xml:lang="en">
  
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="Z" name="grandeurObserveeLois" type="choixGrandeur">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Grandeur des observations à assimiler pour le contrôle des lois.<br/>
Valeurs : Z ou Q.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="perturbationsLois">
                </xs:element>
                <xs:element name="seuilRejetMisfitLois" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger les lois.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="impressionLois" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Activation de l'impression Lois. Utile au post traitement graphique.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="iterationsSigmaLois" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Nombre d'itération pour le contrôle des lois.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="perturbationsLois">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Perturbation des Lois.<br/>
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation.<br/> Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.<br/>
Il y aura autant de runs perturbés que de paramètres ai, bi, ci à caler pour chaque loi.<br/>Avec une machine multiprocesseur, certains de ces runs peuvent se faire en parallèle.
	</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="perturbationsCote" type="perturbationLoi">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Perturbation des lois en hauteurs (limnigrammes ou marégrammes).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="perturbationsDebit" type="perturbationLoi">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Perturbation des lois en débit (hydrogrammes).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="perturbationsDebitLineique" type="perturbationLoi">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Perturbation des lois en débit linéique (hydrogrammes en m2/s appliqués sur un linéaire d'apport diffus).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="perturbationLoi">
        <xs:sequence>
            <xs:element name="perturbationA" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Perturbation du paramètre multiplicatif a.<br/> 
Valeur adimensionnelle.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="perturbationB" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Perturbation du paramètre additif b.<br/> 
Valeur en m, m3/s ou m2/s selon le type de perturbation (Cote, Débit ou DébitLinéique).</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="perturbationC" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Perturbation du paramètre de translation temporelle c.<br/> 
Valeur en seconde.  </xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="tempsCtlLois">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle des lois.</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tempsDebutCtlLois" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Début de la plage temporelle des observations utilisées pour le contrôle des lois (relatif au debut de la simulation).<br/>
Valeur en seconde.<br/> 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tempsFinCtlLois" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Fin de la plage temporelle des observations utilisées pour le contrôle des lois (relatif au debut de la simulation).<br/>
Valeur en seconde.<br/> 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="frequenceObsCtlLois" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Pas de temps des observations à utiliser pour le contrôle des lois.<br/>
Valeur en seconde. <br/>
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction des lois par assimilation de données.<br/> Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dureeCtlLois" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Durée de la plage temporelle des observations utilisées pour le contrôle des lois. 
Valeur en seconde.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loisCtl">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Lois à contrôler à partir des observations à certaines stations d'observation.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="loiCtl">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loiCtl">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Loi à contrôler à partir des observations à certaines stations d'observation.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ctlA" type="ctlParam">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Contrôle du paramètre multiplicatif a.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ctlB" type="ctlParam">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Contrôle du paramètre additif b.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ctlC" type="ctlParam">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Contrôle du paramètre de translation temporelle c.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stationsObsLois" type="stationsObsCtl">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Sites/stations d'observation utilisées pour le contrôle des lois. <br/>
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="valeurMin" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Valeurs minimale de la loi contrôlée à l'issue de l'assimilation de données (pour cause de plantage ou de comportement non-physique).<br/> 
Valeur en m, m3/s, m2/s selon le type de loi (Cote, Débit ou DébitLinéique).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="valeurMax" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Valeurs maximale de la loi contrôlée à l'issue de l'assimilation de données (pour cause de plantage ou de comportement non-physique). <br/>
Valeur en m, m3/s, m2/s selon le type de loi (Cote, Débit ou DébitLinéique).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="constanteApresTBase" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Avec DAMP, en mode rejeu pas à pas, les conditions limites peuvent être tronquées et prolongée de manière constante au-delà du temps de base (valeur : true), en particulier pour les débits amont (constante égale au dernier débit observé).<br/>
Dans les cas maritime, on conserve habituellement en condition limite aval les hauteurs observées au-delà du temps de base (valeur : false). On utilise le signal de hauteurs observées en prévision.<br/>
Dans ces deux cas, il serait judicieux de remplacer les observations au-delà du temps de base par des prévisions (maritimes et hydrologiques).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="cdStationHydro" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresCtlWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres du contrôle de la ligne d'eau.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parametresGenerauxWaterline">
                </xs:element>
                <xs:element ref="tempsCtlWaterline">
                </xs:element>
                <xs:element minOccurs="0" ref="tempsCorrectionSystematiqueWaterline">
                </xs:element>
                <xs:element ref="sectionsCtlWaterline">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresGenerauxWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Le contrôle de la ligne d'eau permet d'améliorer les résultats à certaines stations d'observation, en modifiant la grandeur contrôlée au voisinage des points d'observation, <br/>
ainsi que la grandeur associée (Q ou Z et Z ou Q) au moyen d'une transformation via une courbe de tarage.<br/>
Ce type d'assimilation ne nécessite pas de lancement de runs supplémentaires.<br/>
Il peut être effectué à la suite d'une autre méthode d'assimilation de données.
	</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element default="Z" name="grandeurObserveeWaterline" type="choixGrandeur">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Grandeur des observations à assimiler pour le contrôle de la ligne d'eau.
Valeurs : Z ou Q.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="seuilRejetMisfitWaterline" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger la ligne d'eau.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="correctionSystematiqueWaterline" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">TODO</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tempsCtlWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle de la ligne d'eau.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tempsDebutCtlWaterline" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Début de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau (relatif au debut de la simulation).<br/>
Valeur en seconde.<br/> 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tempsFinCtlWaterline" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Fin de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau (relatif au debut de la simulation).<br/>
Valeur en seconde.<br/> 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="frequenceObsCtlWaterline" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Pas de temps des observations à utiliser pour le contrôle de la ligne d'eau.<br/>
Valeur en seconde.<br/> 
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction de la ligne d’eau par assimilation de données.<br/> Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dureeCtlWaterline" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Durée de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau.<br/>
Valeur en seconde. <br/>
Cette durée est en principe de l’ordre de grandeur de la durée de propagation entre les stations d'observation et la condition limite aval pour que le modèle bénéficie de la correction sur le maximum de linéaire. Il est cependant nécessaire de « caler » cette durée.<br/> Pour coller surtout aux dernières observations, on peut raccourcir cette durée.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="tempsCorrectionSystematiqueWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">TODO</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tempsFinCorrection" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">TODO. L'idée est peut-etre d'ouvrir la possibilité de faire persister le contrôle de la ligne d'eau au-delà du temps de base ?</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="frequenceCorrection" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Fréquence à laquelle la ligne d'eau est modifiée.
Valeur en seconde.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tempsDebutMoyenneIncrements" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">TODO</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sectionsCtlWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Description d'un tronçon de rivière (au voisinage d'une station) sur lesquels s'applique le contrôle de la ligne d'eau (emprise géographique, courbes de tarage...).</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="sectionCtlWaterline">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sectionCtlWaterline">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Description des tronçons de rivière (au voisinage de stations) sur lesquels s'applique le contrôle de la ligne d'eau (emprise géographique, courbes de tarage...).
	</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stationsObsWaterline" type="stationsObsCtl">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Stations dont les observations sont utilisées pour le contrôle de la ligne d'eau. 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ecartTypeAvantCtl" type="ecartTypeWaterline">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Ecart type de l'erreur d'ébauche à la station d'observation (sans assimilation de données).<br/>
Valeur en m ou en m3/s.<br/> 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ecartTypeApresCtl" type="ecartTypeWaterline">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Ecart type de l'erreur d'ébauche à la station d'observation après contrôle Ks et/ou Lois (dans le cas ou l'on enchainement le contrôle de la ligne d'eau après un contrôle Ks et/ou Lois).<br/>
Valeur en m ou en m3/s.<br/> 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation après contrôle Ks et/ou Lois.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="longueursPorteeZ" type="longueursPorteeWaterline">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Eloignement maximum de l’influence en hauteur de la correction faite par le contrôle de la linge d'eau à une station.<br/> 
La longueur de portée à l’aval est en général 10 fois inférieure à celle de l’amont.<br/> 
Valeur en mètres.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="longueursPorteeQ" type="longueursPorteeWaterline">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Eloignement maximum de l’influence en débit de la correction faite par le contrôle de la linge d'eau à une station.<br/> 
La longueur de portée à l’aval est en général 10 fois inférieure à celle de l’amont.<br/> 
En cas de confluence, longueur de portée de la correction en débit doit être raccourcie.<br/>
Valeur en mètres.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="courbeTarage">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ecartTypeWaterline">
        <xs:sequence>
            <xs:element name="ecartTypeErrEbaucheZ" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Ecart type en hauteur de l'erreur d'ébauche à la station d'observation.<br/>
Valeur en mètres. <br/>
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ecartTypeErrEbaucheQ" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Ecart type en débit de l'erreur d'ébauche à la station d'observation.<br/>
Valeur en m3/s.<br/> 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="longueursPorteeWaterline">
        <xs:sequence>
            <xs:element name="longueurPorteeAmont" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Eloignement maximum de l’influence à l'amont de la correction faite par le contrôle de la linge d'eau à une station. 
Valeur en mètres.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="longueurPorteeAval" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Eloignement maximum de l’influence à l'aval de la correction faite par le contrôle de la linge d'eau à une station.<br/> 
Valeur en mètres.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="courbeTarage">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Courbe de tarage Q=A*Z^R+B à la station d'observation. <br/> 
Le contrôle de la ligne d’eau se fait à partir de la grandeur sélectionnée pour les observations. Par souci de cohérence hydraulique, la ligne d’eau est également corrigée dans l’autre grandeur en utilisant les courbes de tarage Q=A*Z^R+B définies par stations d'observation.<br/> 
	Pour les cas maritimes où la courbe de tarage n’existe pas réellement, on peut prendre A=1, R=1 et B=0.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coefficientA" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Coefficient A de la courbe de tarage Q=A*Z^R+B à la station d'observation.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="coefficientR" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Coefficient R de la courbe de tarage Q=A*Z^R+B à la station d'observation.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="coefficientB" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Coefficient B de la courbe de tarage Q=A*Z^R+B à la station d'observation.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresObservations">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres de observations.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="parametresGenerauxObservations">
                </xs:element>
                <xs:element ref="stationsObs">
               </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresGenerauxObservations">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres généraux des stations d'observation.</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prefixeFichierObs" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Préfixe du fichier contenant la chronique d’observations.<br/> 
Exemple : ../../Observations/station_</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="pasDeTempsFichierObs" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Pas de temps effectif des données du fichier d'observation.<br/> 
Valeur de secondes.<br/> 
On peut ensuite choisir de les utiliser sur un pas de temps plus lâche : frequenceObsCtlKS, frequenceObsCtlLois, frequenceObsCtlWaterline.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="tailleFenetreLissageObs" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Taille de la fenetre temporelle pour le lissage des données observées (moyenne glissante).<br/>
Valeur en secondes. <br/>
Si les observations sont trop bruitées, par exemple pour des pas de temps 5 min, il est préférable de les lisser pour éviter des comportements erratiques de l’assimilation de données.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stationsObs">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Stations d'observations disponibles pour l'assimilation de données.<br/> 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.
	</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
         <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="stationObs">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stationObs">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Informations sur la station d'observation.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="stationHydro">
                    <xs:sequence>
                        <xs:element name="ecartTypeErrObsZ" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr">Ecart type de l'erreur d'observation de hauteur.<br/> 
Valeur en mètres.<br/>  
Moyenne des erreurs d’observation en hauteur : précision de la mesure, erreur de représentativité, embacle ou autre perturbation.</xs:documentation>
                                <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ecartTypeErrObsQ" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr">Ecart type de l'erreur d'observation de débit.<br/> 
Valeur en m3/s.<br/> 
Moyenne des erreurs d’observation en débit : précision de la mesure, erreur de représentativité, embacle ou autre perturbation, incertitudes de la courbe de tarage.</xs:documentation>
                                <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="seuilRejetObsZ" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr">Seuil minimum de rejet des observations en hauteur.<br/>
Valeur en mètres.<br/>
Les observations en-dessous de ce seuil ne seront pas utilisées pour corriger la ligne d'eau.</xs:documentation>
                                <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="seuilRejetObsQ" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr">Seuil minimum de rejet des observations en débit.<br/>
Valeur en m3/s.<br/> 
Les observations en-dessous de ce seuil ne seront pas utilisées pour corriger la ligne d'eau.</xs:documentation>
                                <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="cdStationHydro" type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="fr">Code du site hydrométrique (pour les débits) ou de la station hydrométrique (pour les hauteurs) d'observation.<br/> 
Il s'agit idéalement du code Hydro3 (référentiel hydrométrique national français), mais il set possible d'utiliser d'autres codes.</xs:documentation>
            <xs:documentation xml:lang="en">
                
		    </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="stationsObsCtl">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="cdStationHydro">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="parametresSauvegardeLigneIni">
      <xs:annotation>
        <xs:documentation xml:lang="fr">La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants.<br/> (Ce paramètre est modifié par le pilote)</xs:documentation>
        <xs:documentation xml:lang="en">
                
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tempsSauvegardeLigneIni" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Temps de sauvegarde de la ligne d'eau (relatif au debut de la simulation).<br/>
Valeur en secondes.<br/> 
(Ce paramètre est modifié par le pilote)<br/>
La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="cheminSauvegardeLigneIni" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Chemin de sauvegarde de la ligne d'eau.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="parametresImpressionResultats">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Paramètres d'impression des résultats.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stationsRes">
                </xs:element>
                <xs:element name="nbMaxEcheances" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Nombre maximal d'échéances de prévision aux stations résultat.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="echeance">
                </xs:element>
                <xs:element name="echeancePassee" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Echéance passée. 
Valeur en heures. 
Cela permet de disposer des prévisions sur la partie analyse (antérieure au temps de base au-delà duquel on effectue des prévisions).</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="nrStationTracerObsAbcMn" type="xs:integer">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">TODO</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="fichierIncrements" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="fr">Chemin et nom du fichier (.opt) des incréments de ligne d'eau effectués dans le cadre du contrôle de la ligne d'eau.</xs:documentation>
                        <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stationsRes">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Stations résultat.<br/>
	Description des points de sortie pour les hauteurs et les débits prévus.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="stationRes">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="stationRes">
      <xs:annotation>
        <xs:documentation xml:lang="fr">Station résultat.
	Description d'un point de sortie pour les hauteurs et les débits prévus.</xs:documentation>
        <xs:documentation xml:lang="en">
          
	</xs:documentation>
      </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="stationHydro">
                    <xs:sequence>
                        <xs:element name="sectionStRes" type="xs:integer">
                            <xs:annotation>
                                <xs:documentation xml:lang="fr">Numéro de section de calcul Mascaret (= numérotation maillage 1D) correspondant à la station résultat.<br/> 
C'est utile pour extraire les résultats du fichier opt produit par Mascaret.</xs:documentation>
                                <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="echeance" type="xs:integer">
        <xs:annotation>
            <xs:documentation xml:lang="fr">Echéance de prévision aux stations résultat. 
Valeur en heures.</xs:documentation>
            <xs:documentation xml:lang="en">
                
		    </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:simpleType name="choixGrandeur">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Z"/>
            <xs:enumeration value="Q"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="stationHydro">
        <xs:sequence>
            <xs:element minOccurs="0" name="lbStationHydro" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Libellé (complet ou usuel) du site hydrométrique (pour les débits) ou de la station hydrométrique (pour les hauteurs) d'observation.<br/> 
Il s'agit idéalement du libellé Hydro3 (référentiel hydrométrique national français), mais il set possible d'utiliser d'autres noms.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="brancheStation" type="xs:integer">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Branche du modèle Mascaret sur laquelle est positionnée la section de calcul correspondant à la station résultat.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="abscisseStation" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Abscisse (= point kilométrique) de la station résultat sur le modèle Mascaret. <br/>
Valeur en km.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="decalageStation" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Décalage de l'origine des observations par rapport à la cote de référence du modèle (a priori NGF).<br/> 
Valeur en mètres.<br/> 
Cela permet de comparer les hauteurs observées et simulées dans le même référentiel altimétrique.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="cdStationHydro" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ctlParam">
        <xs:sequence>
            <xs:element minOccurs="0" name="activation" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Activation du contrôle par assimilation de données.<br/> 
Valeur : true ou false.<br/> 
(Ce paramètre est modifié par le pilote)</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ecartType" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation xml:lang="fr">Ecart type du paramètre à contrôler.<br/> 
Cela correspond à la moyenne des erreurs sur l'évaluation de ce paramètre.</xs:documentation>
                    <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ctlLit">
        <xs:complexContent>
            <xs:extension base="ctlParam">
                <xs:sequence>
                    <xs:element name="valMinKS" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation xml:lang="fr">Valeur minimum du coefficient de Strickler Ks (pour la zone et le lit concerné).<br/> 
Le contrôle Ks ne pourra pas aboutir à une valeur inférieure à cette valeur.</xs:documentation>
                            <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="valMaxKS" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation xml:lang="fr">Valeur maximale du coefficient de Strickler Ks (pour la zone et le lit concerné).<br/> 
Le contrôle Ks ne pourra pas aboutir à une valeur supérieure à cette valeur.</xs:documentation>
                            <xs:documentation xml:lang="en">
                
		    </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
