mascaret/mascaret-assim-1.0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2015 rel. 4 (http://www.altova.com)-->
<!--element and attribute declarations-->
<!ELEMENT fichierAssim (parametresGenerauxAssim?, parametresCtlKS?, parametresCtlLois?, parametresCtlWaterline?, parametresObservations, parametresSauvegardeLigneIni?, parametresImpressionResultats?)>
<!--Paramètres généraux de l'assimilation de données.
Plus d'info sur la page redmine du projet Mascaret-Assimilation-->
<!---->
<!ELEMENT parametresGenerauxAssim (ctlKS, ctlLois, ctlWaterline, sauvegardeLigneIni, impressionResultats)>
<!--Activation du contrôle des coefficients de Strickler.
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)-->
<!--Activate the Strickler coefficients control
		    -->
<!ELEMENT ctlKS (#PCDATA)>
<!--Activation du contrôle des conditions limites (Lois).
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT ctlLois (#PCDATA)>
<!--Activation du contrôle de la ligne d'eau.
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)
Ceci ne fonctionne pas lorsqu’il y a une île sur le secteur influencé par le contrôle de la ligne d'eau.-->
<!---->
<!ELEMENT ctlWaterline (#PCDATA)>
<!--Activation de la sauvegarde de la ligne d'eau. 
La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants. 
Valeurs : true ou false. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT sauvegardeLigneIni (#PCDATA)>
<!--Activation de l'impression des résultats.
Valeurs : true ou false.-->
<!---->
<!ELEMENT impressionResultats (#PCDATA)>
<!--Paramètres du contrôle des coefficients de Strickler Ks.-->
<!---->
<!ELEMENT parametresCtlKS (parametresGenerauxKS, tempsCtlKS, zonesKS)>
<!--Le contrôle des coefficients de Strickler Ks permet de modifier les Ks en lit mineur et/ou majeur pour améliorer les résultats à certaines stations d'observation. 
On aura autant de runs perturbés que de valeurs de Ks à caler (pour chaque zone et lit mineur et/ou majeur). Avec une machine multiprocesseur, certains de ces runs peuvent se faire en parallèle.-->
<!---->
<!ELEMENT parametresGenerauxKS (grandeurObserveeKS, perturbationLitMin, perturbationLitMaj, seuilRejetMisfitKS, impressionKS, iterationsSigmaKS?)>
<!--Grandeur des observations à assimiler pour le contrôle Ks.
Valeurs : Z ou Q.-->
<!---->
<!ELEMENT grandeurObserveeKS (#PCDATA)>
<!--Perturbation des Ks du lit mineur (exemple -2 points de Strikler)
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation. Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.-->
<!---->
<!ELEMENT perturbationLitMin (#PCDATA)>
<!--Perturbation des Ks du lit majeur (exemple -2 points de Strikler)
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation.
 Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.-->
<!---->
<!ELEMENT perturbationLitMaj (#PCDATA)>
<!--Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger les Ks.-->
<!---->
<!ELEMENT seuilRejetMisfitKS (#PCDATA)>
<!--Activation de l'impression Ks. Utile au post traitement graphique.-->
<!---->
<!ELEMENT impressionKS (#PCDATA)>
<!--Nombre d'itération pour le contrôle Ks-->
<!---->
<!ELEMENT iterationsSigmaKS (#PCDATA)>
<!--Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle Ks.-->
<!---->
<!ELEMENT tempsCtlKS (tempsDebutCtlKS, tempsFinCtlKS, frequenceObsCtlKS, dureeCtlKS?)>
<!--Début de la plage temporelle des observations utilisées pour le contrôle Ks (relatif au debut de la simulation).
Valeur en seconde.
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsDebutCtlKS (#PCDATA)>
<!--Fin de la plage temporelle des observations utilisées pour le contrôle Ks (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsFinCtlKS (#PCDATA)>
<!--Pas de temps des observations à utiliser pour le contrôle Ks.
Valeur en seconde. 
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction des Ks par assimilation de données. Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.-->
<!---->
<!ELEMENT frequenceObsCtlKS (#PCDATA)>
<!--Durée de la plage temporelle des observations utilisées pour le contrôle Ks. 
Valeur en seconde.-->
<!---->
<!ELEMENT dureeCtlKS (#PCDATA)>
<!--Zones Ks à contrôler à partir des observations à certaines stations d'observation.-->
<!---->
<!ELEMENT zonesKS (zoneKS*)>
<!--Zone Ks à contrôler par assimilation de données-->
<!---->
<!ELEMENT zoneKS (ctlLitMin?, ctlLitMaj?, stationsObsKS)>
<!ATTLIST zoneKS
	numeroZone NMTOKEN #REQUIRED
>
<!--Contrôle des Ks du lit mineur-->
<!---->
<!ELEMENT ctlLitMin ((activation?, ecartType), (valMinKS, valMaxKS))>
<!--Contrôle des Ks du lit majeur-->
<!---->
<!ELEMENT ctlLitMaj ((activation?, ecartType), (valMinKS, valMaxKS))>
<!--Sites/stations d'observation utilisées pour le contrôle Ks. 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.-->
<!---->
<!ELEMENT stationsObsKS (cdStationHydro*)>
<!--Paramètres du contrôle des lois.-->
<!---->
<!ELEMENT parametresCtlLois (parametresGenerauxLois, tempsCtlLois, loisCtl)>
<!--Le contrôle paramétrique des lois permet de modifier les paramètres a, b et/ou c des conditions limites
(débit amont, hauteur aval, débit linéique d'apport diffus) pour améliorer les résultats à certaines stations d'observation.
Dans le cas d'une loi i en débit : Qi(modifié)=ai*Qi(t-ci)+bi
	-->
<!---->
<!ELEMENT parametresGenerauxLois (grandeurObserveeLois, perturbationsLois, seuilRejetMisfitLois, impressionLois, iterationsSigmaLois?)>
<!--Grandeur des observations à assimiler pour le contrôle des lois.
Valeurs : Z ou Q.-->
<!---->
<!ELEMENT grandeurObserveeLois (#PCDATA)>
<!--Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger les lois.-->
<!---->
<!ELEMENT seuilRejetMisfitLois (#PCDATA)>
<!--Activation de l'impression Lois. Utile au post traitement graphique.-->
<!---->
<!ELEMENT impressionLois (#PCDATA)>
<!--Nombre d'itération pour le contrôle des lois.-->
<!---->
<!ELEMENT iterationsSigmaLois (#PCDATA)>
<!--Perturbation des Lois.
Il faut perturber chaque coefficient à caler pour évaluer ses conséquences supposées localement linéaires sur les résultats aux stations d’observation. Il faut donc faire une perturbation significative qui ait une conséquence, mais en même temps pas trop forte pour que l’hypothèse de linéarité ne soit pas trop fausse.
Il y aura autant de runs perturbés que de paramètres ai, bi, ci à caler pour chaque loi.Avec une machine multiprocesseur, certains de ces runs peuvent se faire en parallèle.
	-->
<!---->
<!ELEMENT perturbationsLois (perturbationsCote, perturbationsDebit, perturbationsDebitLineique)>
<!--Perturbation des lois en hauteurs (limnigrammes ou marégrammes).-->
<!---->
<!ELEMENT perturbationsCote (perturbationA, perturbationB, perturbationC)>
<!--Perturbation des lois en débit (hydrogrammes).-->
<!---->
<!ELEMENT perturbationsDebit (perturbationA, perturbationB, perturbationC)>
<!--Perturbation des lois en débit linéique (hydrogrammes en m2/s appliqués sur un linéaire d'apport diffus).-->
<!---->
<!ELEMENT perturbationsDebitLineique (perturbationA, perturbationB, perturbationC)>
<!--Perturbation du paramètre multiplicatif a. 
Valeur adimensionnelle.-->
<!---->
<!ELEMENT perturbationA (#PCDATA)>
<!--Perturbation du paramètre additif b. 
Valeur en m, m3/s ou m2/s selon le type de perturbation (Cote, Débit ou DébitLinéique).-->
<!---->
<!ELEMENT perturbationB (#PCDATA)>
<!--Perturbation du paramètre de translation temporelle c. 
Valeur en seconde.  -->
<!---->
<!ELEMENT perturbationC (#PCDATA)>
<!--Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle des lois.-->
<!---->
<!ELEMENT tempsCtlLois (tempsDebutCtlLois, tempsFinCtlLois, frequenceObsCtlLois, dureeCtlLois?)>
<!--Début de la plage temporelle des observations utilisées pour le contrôle des lois (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsDebutCtlLois (#PCDATA)>
<!--Fin de la plage temporelle des observations utilisées pour le contrôle des lois (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsFinCtlLois (#PCDATA)>
<!--Pas de temps des observations à utiliser pour le contrôle des lois.
Valeur en seconde. 
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction des lois par assimilation de données. Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.-->
<!---->
<!ELEMENT frequenceObsCtlLois (#PCDATA)>
<!--Durée de la plage temporelle des observations utilisées pour le contrôle des lois. 
Valeur en seconde.-->
<!---->
<!ELEMENT dureeCtlLois (#PCDATA)>
<!--Lois à contrôler à partir des observations à certaines stations d'observation.-->
<!---->
<!ELEMENT loisCtl (loiCtl*)>
<!--Loi à contrôler à partir des observations à certaines stations d'observation.-->
<!---->
<!ELEMENT loiCtl (ctlA?, ctlB?, ctlC?, stationsObsLois?, valeurMin, valeurMax, constanteApresTBase)>
<!ATTLIST loiCtl
	cdStationHydro CDATA #REQUIRED
>
<!--Contrôle du paramètre multiplicatif a.-->
<!---->
<!ELEMENT ctlA (activation?, ecartType)>
<!--Contrôle du paramètre additif b.-->
<!---->
<!ELEMENT ctlB (activation?, ecartType)>
<!--Contrôle du paramètre de translation temporelle c.-->
<!---->
<!ELEMENT ctlC (activation?, ecartType)>
<!--Sites/stations d'observation utilisées pour le contrôle des lois. 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.-->
<!---->
<!ELEMENT stationsObsLois (cdStationHydro*)>
<!--Valeurs minimale de la loi contrôlée à l'issue de l'assimilation de données (pour cause de plantage ou de comportement non-physique). 
Valeur en m, m3/s, m2/s selon le type de loi (Cote, Débit ou DébitLinéique).-->
<!---->
<!ELEMENT valeurMin (#PCDATA)>
<!--Valeurs maximale de la loi contrôlée à l'issue de l'assimilation de données (pour cause de plantage ou de comportement non-physique). 
Valeur en m, m3/s, m2/s selon le type de loi (Cote, Débit ou DébitLinéique).-->
<!---->
<!ELEMENT valeurMax (#PCDATA)>
<!--Avec DAMP, en mode rejeu pas à pas, les conditions limites peuvent être tronquées et prolongée de manière constante au-delà du temps de base (valeur : true), en particulier pour les débits amont (constante égale au dernier débit observé).
Dans les cas maritime, on conserve habituellement en condition limite aval les hauteurs observées au-delà du temps de base (valeur : false). On utilise le signal de hauteurs observées en prévision.
Dans ces deux cas, il serait judicieux de remplacer les observations au-delà du temps de base par des prévisions (maritimes et hydrologiques).-->
<!---->
<!ELEMENT constanteApresTBase (#PCDATA)>
<!--Paramètres du contrôle de la ligne d'eau.-->
<!---->
<!ELEMENT parametresCtlWaterline (parametresGenerauxWaterline, tempsCtlWaterline, tempsCorrectionSystematiqueWaterline?, sectionsCtlWaterline)>
<!--Le contrôle de la ligne d'eau permet d'améliorer les résultats à certaines stations d'observation, en modifiant la grandeur contrôlée au voisinage des points d'observation, 
ainsi que la grandeur associée (Q ou Z et Z ou Q) au moyen d'une transformation via une courbe de tarage.
Ce type d'assimilation ne nécessite pas de lancement de runs supplémentaires.
Il peut être effectué à la suite d'une autre méthode d'assimilation de données.
	-->
<!---->
<!ELEMENT parametresGenerauxWaterline (grandeurObserveeWaterline, seuilRejetMisfitWaterline, correctionSystematiqueWaterline)>
<!--Grandeur des observations à assimiler pour le contrôle de la ligne d'eau.
Valeurs : Z ou Q.-->
<!---->
<!ELEMENT grandeurObserveeWaterline (#PCDATA)>
<!--Les observations trop éloignées (x * écart type d'erreur d'ébauche en  Z (ou en Q) à la station) de l’ébauche ne seront pas utilisées pour corriger la ligne d'eau.-->
<!---->
<!ELEMENT seuilRejetMisfitWaterline (#PCDATA)>
<!--TODO-->
<!---->
<!ELEMENT correctionSystematiqueWaterline (#PCDATA)>
<!--Fenetre temporelle et pas de temps des observations à prendre en compte pour le contrôle de la ligne d'eau.-->
<!---->
<!ELEMENT tempsCtlWaterline (tempsDebutCtlWaterline, tempsFinCtlWaterline, frequenceObsCtlWaterline, dureeCtlWaterline?)>
<!--Début de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsDebutCtlWaterline (#PCDATA)>
<!--Fin de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau (relatif au debut de la simulation).
Valeur en seconde. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT tempsFinCtlWaterline (#PCDATA)>
<!--Pas de temps des observations à utiliser pour le contrôle de la ligne d'eau.
Valeur en seconde. 
Fréquence à laquelle on prend en compte les observations aux stations d'observation pour la correction de la ligne d’eau par assimilation de données. Plus le pas de temps est fin, plus cela donne d’importance aux observations par rapport au run d’ébauche.-->
<!---->
<!ELEMENT frequenceObsCtlWaterline (#PCDATA)>
<!--Durée de la plage temporelle des observations utilisées pour le contrôle de la ligne d'eau.
Valeur en seconde. 
Cette durée est en principe de l’ordre de grandeur de la durée de propagation entre les stations d'observation et la condition limite aval pour que le modèle bénéficie de la correction sur le maximum de linéaire. Il est cependant nécessaire de « caler » cette durée. Pour coller surtout aux dernières observations, on peut raccourcir cette durée.-->
<!---->
<!ELEMENT dureeCtlWaterline (#PCDATA)>
<!--TODO-->
<!---->
<!ELEMENT tempsCorrectionSystematiqueWaterline (tempsFinCorrection, frequenceCorrection, tempsDebutMoyenneIncrements)>
<!--TODO. L'idée est peut-etre d'ouvrir la possibilité de faire persister le contrôle de la ligne d'eau au-delà du temps de base ?-->
<!---->
<!ELEMENT tempsFinCorrection (#PCDATA)>
<!--Fréquence à laquelle la ligne d'eau est modifiée.
Valeur en seconde.-->
<!---->
<!ELEMENT frequenceCorrection (#PCDATA)>
<!--TODO-->
<!---->
<!ELEMENT tempsDebutMoyenneIncrements (#PCDATA)>
<!--Description d'un tronçon de rivière (au voisinage d'une station) sur lesquels s'applique le contrôle de la ligne d'eau (emprise géographique, courbes de tarage...).-->
<!---->
<!ELEMENT sectionsCtlWaterline (sectionCtlWaterline*)>
<!--Description des tronçons de rivière (au voisinage de stations) sur lesquels s'applique le contrôle de la ligne d'eau (emprise géographique, courbes de tarage...).
	-->
<!---->
<!ELEMENT sectionCtlWaterline (stationsObsWaterline, ecartTypeAvantCtl, ecartTypeApresCtl?, longueursPorteeZ, longueursPorteeQ, courbeTarage)>
<!--Stations dont les observations sont utilisées pour le contrôle de la ligne d'eau. 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.-->
<!---->
<!ELEMENT stationsObsWaterline (cdStationHydro*)>
<!--Ecart type de l'erreur d'ébauche à la station d'observation (sans assimilation de données).
Valeur en m ou en m3/s. 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.-->
<!---->
<!ELEMENT ecartTypeAvantCtl (ecartTypeErrEbaucheZ, ecartTypeErrEbaucheQ)>
<!--Ecart type de l'erreur d'ébauche à la station d'observation après contrôle Ks et/ou Lois (dans le cas ou l'on enchainement le contrôle de la ligne d'eau après un contrôle Ks et/ou Lois).
Valeur en m ou en m3/s. 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation après contrôle Ks et/ou Lois.-->
<!---->
<!ELEMENT ecartTypeApresCtl (ecartTypeErrEbaucheZ, ecartTypeErrEbaucheQ)>
<!--Eloignement maximum de l’influence en hauteur de la correction faite par le contrôle de la linge d'eau à une station. 
La longueur de portée à l’aval est en général 10 fois inférieure à celle de l’amont. 
Valeur en mètres.-->
<!---->
<!ELEMENT longueursPorteeZ (longueurPorteeAmont, longueurPorteeAval)>
<!--Eloignement maximum de l’influence en débit de la correction faite par le contrôle de la linge d'eau à une station. 
La longueur de portée à l’aval est en général 10 fois inférieure à celle de l’amont. 
En cas de confluence, longueur de portée de la correction en débit doit être raccourcie.
Valeur en mètres.-->
<!---->
<!ELEMENT longueursPorteeQ (longueurPorteeAmont, longueurPorteeAval)>
<!--Ecart type en hauteur de l'erreur d'ébauche à la station d'observation.
Valeur en mètres. 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.-->
<!---->
<!ELEMENT ecartTypeErrEbaucheZ (#PCDATA)>
<!--Ecart type en débit de l'erreur d'ébauche à la station d'observation.
Valeur en m3/s. 
Moyenne des erreurs de modélisation : précision du modèle au niveau de chaque station d’observation.-->
<!---->
<!ELEMENT ecartTypeErrEbaucheQ (#PCDATA)>
<!--Eloignement maximum de l’influence à l'amont de la correction faite par le contrôle de la linge d'eau à une station. 
Valeur en mètres.-->
<!---->
<!ELEMENT longueurPorteeAmont (#PCDATA)>
<!--Eloignement maximum de l’influence à l'aval de la correction faite par le contrôle de la linge d'eau à une station. 
Valeur en mètres.-->
<!---->
<!ELEMENT longueurPorteeAval (#PCDATA)>
<!--Courbe de tarage Q=A*Z^R+B à la station d'observation.  
Le contrôle de la ligne d’eau se fait à partir de la grandeur sélectionnée pour les observations. Par souci de cohérence hydraulique, la ligne d’eau est également corrigée dans l’autre grandeur en utilisant les courbes de tarage Q=A*Z^R+B définies par stations d'observation. 
	Pour les cas maritimes où la courbe de tarage n’existe pas réellement, on peut prendre A=1, R=1 et B=0.-->
<!---->
<!ELEMENT courbeTarage (coefficientA, coefficientR, coefficientB)>
<!--Coefficient A de la courbe de tarage Q=A*Z^R+B à la station d'observation.-->
<!---->
<!ELEMENT coefficientA (#PCDATA)>
<!--Coefficient R de la courbe de tarage Q=A*Z^R+B à la station d'observation.-->
<!---->
<!ELEMENT coefficientR (#PCDATA)>
<!--Coefficient B de la courbe de tarage Q=A*Z^R+B à la station d'observation.-->
<!---->
<!ELEMENT coefficientB (#PCDATA)>
<!--Paramètres de observations.-->
<!---->
<!ELEMENT parametresObservations (parametresGenerauxObservations, stationsObs)>
<!--Paramètres généraux des stations d'observation.-->
<!---->
<!ELEMENT parametresGenerauxObservations (prefixeFichierObs, pasDeTempsFichierObs, tailleFenetreLissageObs)>
<!--Préfixe du fichier contenant la chronique d’observations. 
Exemple : ../../Observations/station_-->
<!---->
<!ELEMENT prefixeFichierObs (#PCDATA)>
<!--Pas de temps effectif des données du fichier d'observation. 
Valeur de secondes. 
On peut ensuite choisir de les utiliser sur un pas de temps plus lâche : frequenceObsCtlKS, frequenceObsCtlLois, frequenceObsCtlWaterline.-->
<!---->
<!ELEMENT pasDeTempsFichierObs (#PCDATA)>
<!--Taille de la fenetre temporelle pour le lissage des données observées (moyenne glissante).
Valeur en secondes. 
Si les observations sont trop bruitées, par exemple pour des pas de temps 5 min, il est préférable de les lisser pour éviter des comportements erratiques de l’assimilation de données.-->
<!---->
<!ELEMENT tailleFenetreLissageObs (#PCDATA)>
<!--Stations d'observations disponibles pour l'assimilation de données. 
Il ne s’agit pas des conditions limites, mais de sites à l’intérieur du domaine modélisé.
	-->
<!---->
<!ELEMENT stationsObs (stationObs*)>
<!--Informations sur la station d'observation.-->
<!---->
<!ELEMENT stationObs ((lbStationHydro?, brancheStation, abscisseStation, decalageStation), (ecartTypeErrObsZ, ecartTypeErrObsQ, seuilRejetObsZ, seuilRejetObsQ))>
<!ATTLIST stationObs
	cdStationHydro CDATA #REQUIRED
>
<!--Ecart type de l'erreur d'observation de hauteur. 
Valeur en mètres.  
Moyenne des erreurs d’observation en hauteur : précision de la mesure, erreur de représentativité, embacle ou autre perturbation.-->
<!---->
<!ELEMENT ecartTypeErrObsZ (#PCDATA)>
<!--Ecart type de l'erreur d'observation de débit. 
Valeur en m3/s. 
Moyenne des erreurs d’observation en débit : précision de la mesure, erreur de représentativité, embacle ou autre perturbation, incertitudes de la courbe de tarage.-->
<!---->
<!ELEMENT ecartTypeErrObsQ (#PCDATA)>
<!--Seuil minimum de rejet des observations en hauteur.
Valeur en mètres.
Les observations en-dessous de ce seuil ne seront pas utilisées pour corriger la ligne d'eau.-->
<!---->
<!ELEMENT seuilRejetObsZ (#PCDATA)>
<!--Seuil minimum de rejet des observations en débit.
Valeur en m3/s. 
Les observations en-dessous de ce seuil ne seront pas utilisées pour corriger la ligne d'eau.-->
<!---->
<!ELEMENT seuilRejetObsQ (#PCDATA)>
<!--Code du site hydrométrique (pour les débits) ou de la station hydrométrique (pour les hauteurs) d'observation. 
Il s'agit idéalement du code Hydro3 (référentiel hydrométrique national français), mais il set possible d'utiliser d'autres codes.-->
<!---->
<!ELEMENT cdStationHydro (#PCDATA)>
<!--La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants. (Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT parametresSauvegardeLigneIni (tempsSauvegardeLigneIni, cheminSauvegardeLigneIni)>
<!--Temps de sauvegarde de la ligne d'eau (relatif au debut de la simulation).
Valeur en secondes. 
(Ce paramètre est modifié par le pilote)
La sauvegarde de la ligne d'eau est utile pour l'initialisation des runs suivants.-->
<!---->
<!ELEMENT tempsSauvegardeLigneIni (#PCDATA)>
<!--Chemin de sauvegarde de la ligne d'eau.-->
<!---->
<!ELEMENT cheminSauvegardeLigneIni (#PCDATA)>
<!--Paramètres d'impression des résultats.-->
<!---->
<!ELEMENT parametresImpressionResultats (stationsRes, nbMaxEcheances, echeance*, echeancePassee, nrStationTracerObsAbcMn, fichierIncrements)>
<!--Nombre maximal d'échéances de prévision aux stations résultat.-->
<!---->
<!ELEMENT nbMaxEcheances (#PCDATA)>
<!--Echéance passée. 
Valeur en heures. 
Cela permet de disposer des prévisions sur la partie analyse (antérieure au temps de base au-delà duquel on effectue des prévisions).-->
<!---->
<!ELEMENT echeancePassee (#PCDATA)>
<!--TODO-->
<!---->
<!ELEMENT nrStationTracerObsAbcMn (#PCDATA)>
<!--Chemin et nom du fichier (.opt) des incréments de ligne d'eau effectués dans le cadre du contrôle de la ligne d'eau.-->
<!---->
<!ELEMENT fichierIncrements (#PCDATA)>
<!--Stations résultat.
	Description des points de sortie pour les hauteurs et les débits prévus.-->
<!---->
<!ELEMENT stationsRes (stationRes*)>
<!--Station résultat.
	Description d'un point de sortie pour les hauteurs et les débits prévus.-->
<!---->
<!ELEMENT stationRes ((lbStationHydro?, brancheStation, abscisseStation, decalageStation), (sectionStRes))>
<!ATTLIST stationRes
	cdStationHydro CDATA #REQUIRED
>
<!--Numéro de section de calcul Mascaret (= numérotation maillage 1D) correspondant à la station résultat. 
C'est utile pour extraire les résultats du fichier opt produit par Mascaret.-->
<!---->
<!ELEMENT sectionStRes (#PCDATA)>
<!--Echéance de prévision aux stations résultat. 
Valeur en heures.-->
<!---->
<!ELEMENT echeance (#PCDATA)>
<!--Libellé (complet ou usuel) du site hydrométrique (pour les débits) ou de la station hydrométrique (pour les hauteurs) d'observation. 
Il s'agit idéalement du libellé Hydro3 (référentiel hydrométrique national français), mais il set possible d'utiliser d'autres noms.-->
<!---->
<!ELEMENT lbStationHydro (#PCDATA)>
<!--Branche du modèle Mascaret sur laquelle est positionnée la section de calcul correspondant à la station résultat.-->
<!---->
<!ELEMENT brancheStation (#PCDATA)>
<!--Abscisse (= point kilométrique) de la station résultat sur le modèle Mascaret. 
Valeur en km.-->
<!---->
<!ELEMENT abscisseStation (#PCDATA)>
<!--Décalage de l'origine des observations par rapport à la cote de référence du modèle (a priori NGF). 
Valeur en mètres. 
Cela permet de comparer les hauteurs observées et simulées dans le même référentiel altimétrique.-->
<!---->
<!ELEMENT decalageStation (#PCDATA)>
<!--Activation du contrôle par assimilation de données. 
Valeur : true ou false. 
(Ce paramètre est modifié par le pilote)-->
<!---->
<!ELEMENT activation (#PCDATA)>
<!--Ecart type du paramètre à contrôler. 
Cela correspond à la moyenne des erreurs sur l'évaluation de ce paramètre.-->
<!---->
<!ELEMENT ecartType (#PCDATA)>
<!--Valeur minimum du coefficient de Strickler Ks (pour la zone et le lit concerné). 
Le contrôle Ks ne pourra pas aboutir à une valeur inférieure à cette valeur.-->
<!---->
<!ELEMENT valMinKS (#PCDATA)>
<!--Valeur maximale du coefficient de Strickler Ks (pour la zone et le lit concerné). 
Le contrôle Ks ne pourra pas aboutir à une valeur supérieure à cette valeur.-->
<!---->
<!ELEMENT valMaxKS (#PCDATA)>
