mascaret/mascaret-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2015 rel. 4 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="fichierCas">
		<xs:sequence>
			<xs:element ref="parametresCas"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="fichierCas" type="fichierCas"/>
	<xs:complexType name="parametresCas">
		<xs:sequence>
			<xs:element ref="parametresGeneraux" minOccurs="0"/>
			<xs:element ref="parametresModelePhysique" minOccurs="0"/>
			<xs:element ref="parametresNumeriques" minOccurs="0"/>
			<xs:element ref="parametresTemporels" minOccurs="0"/>
			<xs:element ref="parametresGeometrieReseau" minOccurs="0"/>
			<xs:element ref="parametresConfluents" minOccurs="0"/>
			<xs:element ref="parametresPlanimetrageMaillage" minOccurs="0"/>
			<xs:element ref="parametresSingularite" minOccurs="0"/>
			<xs:element ref="parametresCasier" minOccurs="0"/>
			<xs:element ref="parametresApportDeversoirs" minOccurs="0"/>
			<xs:element ref="parametresCalage" minOccurs="0"/>
			<xs:element ref="parametresLoisHydrauliques" minOccurs="0"/>
			<xs:element ref="parametresConditionsInitiales" minOccurs="0"/>
			<xs:element ref="parametresImpressionResultats" minOccurs="0"/>
			<xs:element ref="parametresVariablesCalculees" minOccurs="0"/>
			<xs:element ref="parametresVariablesStockees" minOccurs="0"/>
			<xs:element ref="parametresCalageAuto" minOccurs="0"/>
			<xs:element ref="parametresTraceur" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresCas" type="parametresCas"/>
	<xs:complexType name="parametresGeneraux">
		<xs:sequence>
			<xs:element ref="versionCode" minOccurs="0"/>
			<xs:element ref="code" minOccurs="0"/>
			<xs:element ref="fichMotsCles" minOccurs="0"/>
			<xs:element ref="dictionaire" minOccurs="0"/>
			<xs:element ref="progPrincipal" minOccurs="0"/>
			<xs:element ref="sauveModele" minOccurs="0"/>
			<xs:element ref="fichSauvModele" minOccurs="0"/>
			<xs:element ref="validationCode" minOccurs="0"/>
			<xs:element ref="typeValidation" minOccurs="0"/>
			<xs:element ref="presenceCasiers" minOccurs="0"/>
			<xs:element ref="bibliotheques" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresGeneraux" type="parametresGeneraux"/>
	<xs:complexType name="parametresModelePhysique">
		<xs:sequence>
			<xs:element ref="perteChargeConf" minOccurs="0"/>
			<xs:element ref="compositionLits" minOccurs="0"/>
			<xs:element ref="conservFrotVertical" minOccurs="0"/>
			<xs:element ref="elevCoteArrivFront" minOccurs="0"/>
			<xs:element ref="interpolLinStrickler" minOccurs="0"/>
			<xs:element ref="debordement" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresModelePhysique" type="parametresModelePhysique"/>
	<xs:complexType name="parametresNumeriques">
		<xs:sequence>
			<xs:element ref="calcOndeSubmersion" minOccurs="0"/>
			<xs:element ref="froudeLimCondLim" minOccurs="0"/>
			<xs:element ref="traitImplicitFrot" minOccurs="0"/>
			<xs:element ref="hauteurEauMini" minOccurs="0"/>
			<xs:element ref="implicitNoyauTrans" minOccurs="0"/>
			<xs:element ref="optimisNoyauTrans" minOccurs="0"/>
			<xs:element ref="perteChargeAutoElargissement" minOccurs="0"/>
			<xs:element ref="termesNonHydrostatiques" minOccurs="0"/>
			<xs:element ref="apportDebit" minOccurs="0"/>
			<xs:element ref="attenuationConvection" minOccurs="0"/>
			<xs:element ref="parametresNumeriqueCasier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresNumeriques" type="parametresNumeriques"/>
	<xs:complexType name="parametresTemporels">
		<xs:sequence>
			<xs:element ref="pasTemps" minOccurs="0"/>
			<xs:element ref="tempsInit" minOccurs="0"/>
			<xs:element ref="critereArret" minOccurs="0"/>
			<xs:element ref="nbPasTemps" minOccurs="0"/>
			<xs:element ref="tempsMax" minOccurs="0"/>
			<xs:element ref="pasTempsVar" minOccurs="0"/>
			<xs:element ref="nbCourant" minOccurs="0"/>
			<xs:element ref="coteMax" minOccurs="0"/>
			<xs:element ref="abscisseControle" minOccurs="0"/>
			<xs:element ref="biefControle" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresTemporels" type="parametresTemporels"/>
	<xs:complexType name="parametresGeometrieReseau">
		<xs:sequence>
			<xs:element ref="geometrie" minOccurs="0"/>
			<xs:element ref="listeBranches" minOccurs="0"/>
			<xs:element ref="listeNoeuds" minOccurs="0"/>
			<xs:element ref="extrLibres" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresGeometrieReseau" type="parametresGeometrieReseau"/>
	<xs:complexType name="parametresConfluents">
		<xs:sequence>
			<xs:element ref="nbConfluents"/>
			<xs:element ref="confluents" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresConfluents" type="parametresConfluents"/>
	<xs:complexType name="parametresPlanimetrageMaillage">
		<xs:sequence>
			<xs:element ref="methodeMaillage" minOccurs="0"/>
			<xs:element ref="planim" minOccurs="0"/>
			<xs:element ref="maillage" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresPlanimetrageMaillage" type="parametresPlanimetrageMaillage"/>
	<xs:complexType name="parametresSingularite">
		<xs:sequence>
			<xs:element ref="nbSeuils"/>
			<xs:element ref="barragePrincipal" minOccurs="0"/>
			<xs:element ref="seuils" minOccurs="0"/>
			<xs:element ref="pertesCharges" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresSingularite" type="parametresSingularite"/>
	<xs:complexType name="parametresCasier">
		<xs:sequence>
			<xs:element ref="nbCasiers"/>
			<xs:element ref="optionPlanimetrage" minOccurs="0"/>
			<xs:element ref="optionCalcul" minOccurs="0"/>
			<xs:element ref="fichierGeomCasiers" minOccurs="0"/>
			<xs:element ref="cotesInitiale" minOccurs="0"/>
			<xs:element ref="pasPlanimetrage" minOccurs="0"/>
			<xs:element ref="nbCotesPlanimetrage" minOccurs="0"/>
			<xs:element ref="liaisons" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresCasier" type="parametresCasier"/>
	<xs:complexType name="parametresApportDeversoirs">
		<xs:sequence>
			<xs:element ref="debitsApports" minOccurs="0"/>
			<xs:element ref="deversLate" minOccurs="0"/>
			<xs:element ref="apportCasier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresApportDeversoirs" type="parametresApportDeversoirs"/>
	<xs:complexType name="parametresCalage">
		<xs:sequence>
			<xs:element ref="frottement" minOccurs="0"/>
			<xs:element ref="zoneStockage" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresCalage" type="parametresCalage"/>
	<xs:complexType name="parametresLoisHydrauliques">
		<xs:sequence>
			<xs:element ref="nb"/>
			<xs:element ref="lois" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresLoisHydrauliques" type="parametresLoisHydrauliques"/>
	<xs:complexType name="parametresConditionsInitiales">
		<xs:sequence>
			<xs:element ref="repriseEtude" minOccurs="0"/>
			<xs:element ref="ligneEau" minOccurs="0"/>
			<xs:element ref="zonesSeches" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresConditionsInitiales" type="parametresConditionsInitiales"/>
	<xs:complexType name="parametresImpressionResultats">
		<xs:sequence>
			<xs:element ref="titreCalcul" minOccurs="0"/>
			<xs:element ref="impression" minOccurs="0"/>
			<xs:element ref="pasStockage" minOccurs="0"/>
			<xs:element ref="resultats" minOccurs="0"/>
			<xs:element ref="listing" minOccurs="0"/>
			<xs:element ref="fichReprise" minOccurs="0"/>
			<xs:element ref="rubens" minOccurs="0"/>
			<xs:element ref="stockage" minOccurs="0"/>
			<xs:element ref="casier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresImpressionResultats" type="parametresImpressionResultats"/>
	<xs:complexType name="parametresVariablesCalculees">
		<xs:sequence minOccurs="0">
			<xs:element ref="variablesCalculees"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresVariablesCalculees" type="parametresVariablesCalculees"/>
	<xs:complexType name="parametresVariablesStockees">
		<xs:sequence minOccurs="0">
			<xs:element ref="variablesStockees"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresVariablesStockees" type="parametresVariablesStockees"/>
	<xs:complexType name="parametresCalageAuto">
		<xs:sequence>
			<xs:element ref="parametres" minOccurs="0"/>
			<xs:element ref="zones" minOccurs="0"/>
			<xs:element ref="listeCrues" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresCalageAuto" type="parametresCalageAuto"/>
	<xs:complexType name="parametresTraceur">
		<xs:sequence>
			<xs:element ref="presenceTraceurs"/>
			<xs:element ref="nbTraceur"/>
			<xs:element ref="parametresConvectionDiffusion" minOccurs="0"/>
			<xs:element ref="parametresNumeriquesQualiteEau" minOccurs="0"/>
			<xs:element ref="parametresImpressionTraceur" minOccurs="0"/>
			<xs:element ref="parametresConditionsLimitesTraceur" minOccurs="0"/>
			<xs:element ref="parametresConcentrationsInitialesTraceur" minOccurs="0"/>
			<xs:element ref="parametresSourcesTraceur" minOccurs="0"/>
			<xs:element ref="parametresLoisTraceur" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresTraceur" type="parametresTraceur"/>
	<xs:complexType name="parametresNumeriqueCasier">
		<xs:sequence>
			<xs:element ref="coefImplicationSystemeCasiers"/>
			<xs:element ref="coefImplicationDansCouplage"/>
			<xs:element ref="nbMaxIterationDansCouplage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresNumeriqueCasier" type="parametresNumeriqueCasier"/>
	<xs:complexType name="geometrie">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="profilsAbscAbsolu"/>
			<xs:element ref="format"/>
			<xs:element ref="fichier"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="geometrie" type="geometrie"/>
	<xs:complexType name="debordement">
		<xs:sequence>
			<xs:element ref="litMajeur"/>
			<xs:element ref="zoneStock"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="debordement" type="debordement"/>
	<xs:complexType name="impression">
		<xs:sequence>
			<xs:element ref="impressionGeometrie"/>
			<xs:element ref="impressionPlanimetrage"/>
			<xs:element ref="impressionReseau"/>
			<xs:element ref="impressionLoiHydraulique"/>
			<xs:element ref="impressionligneEauInitiale"/>
			<xs:element ref="impressionCalcul"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="impression" type="impression"/>
	<xs:complexType name="listeBranches">
		<xs:sequence>
			<xs:element ref="nb"/>
			<xs:element ref="numeros"/>
			<xs:element ref="abscDebut"/>
			<xs:element ref="abscFin"/>
			<xs:element ref="numExtremDebut"/>
			<xs:element ref="numExtremFin"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listeBranches" type="listeBranches"/>
	<xs:complexType name="listeNoeuds">
		<xs:sequence>
			<xs:element ref="nb"/>
			<xs:element ref="noeuds" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listeNoeuds" type="listeNoeuds"/>
	<xs:complexType name="noeuds">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="noeud"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="noeuds" type="noeuds"/>
	<xs:complexType name="noeud">
		<xs:sequence>
			<xs:element ref="num"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="noeud" type="noeud"/>
	<xs:complexType name="Nom">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Nom" type="Nom"/>
	<xs:complexType name="extrLibres">
		<xs:sequence>
			<xs:element ref="nb"/>
			<xs:element ref="num" minOccurs="0"/>
			<xs:element ref="numExtrem" minOccurs="0"/>
			<xs:element ref="noms" minOccurs="0"/>
			<xs:element ref="typeCond" minOccurs="0"/>
			<xs:element ref="numLoi" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="extrLibres" type="extrLibres"/>
	<xs:complexType name="confluents">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresConfluent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="confluents" type="confluents"/>
	<xs:complexType name="structureParametresConfluent">
		<xs:sequence>
			<xs:element ref="nbAffluent"/>
			<xs:element ref="nom" minOccurs="0"/>
			<xs:element ref="abscisses" minOccurs="0"/>
			<xs:element ref="ordonnees" minOccurs="0"/>
			<xs:element ref="angles" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresConfluent" type="structureParametresConfluent"/>
	<xs:complexType name="planim">
		<xs:sequence>
			<xs:element ref="nbPas"/>
			<xs:element ref="nbZones"/>
			<xs:element ref="valeursPas" minOccurs="0"/>
			<xs:element ref="num1erProf" minOccurs="0"/>
			<xs:element ref="numDerProf" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="planim" type="planim"/>
	<xs:complexType name="maillage">
		<xs:sequence>
			<xs:element ref="modeSaisie"/>
			<xs:element ref="fichMaillage" minOccurs="0"/>
			<xs:element ref="sauvMaillage" minOccurs="0"/>
			<xs:element ref="fichSauvMaillage" minOccurs="0"/>
			<xs:element ref="maillageClavier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="maillage" type="maillage"/>
	<xs:complexType name="maillageClavier">
		<xs:sequence>
			<xs:element ref="nbSections"/>
			<xs:element ref="numSection" minOccurs="0"/>
			<xs:element ref="branchesSection" minOccurs="0"/>
			<xs:element ref="absSection" minOccurs="0"/>
			<xs:element ref="nbPlages" minOccurs="0"/>
			<xs:element ref="num1erProfPlage" minOccurs="0"/>
			<xs:element ref="numDerProfPlage" minOccurs="0"/>
			<xs:element ref="pasEspacePlage" minOccurs="0"/>
			<xs:element ref="nbZones" minOccurs="0"/>
			<xs:element ref="numBrancheZone" minOccurs="0"/>
			<xs:element ref="absDebutZone" minOccurs="0"/>
			<xs:element ref="absFinZone" minOccurs="0"/>
			<xs:element ref="nbSectionZone" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="maillageClavier" type="maillageClavier"/>
	<xs:complexType name="deversLate">
		<xs:sequence>
			<xs:element ref="nbDeversoirs"/>
			<xs:element ref="noms" minOccurs="0"/>
			<xs:element ref="type" minOccurs="0"/>
			<xs:element ref="numBranche" minOccurs="0"/>
			<xs:element ref="abscisse" minOccurs="0"/>
			<xs:element ref="longueur" minOccurs="0"/>
			<xs:element ref="coteCrete" minOccurs="0"/>
			<xs:element ref="coeffDebit" minOccurs="0"/>
			<xs:element ref="numLoi" minOccurs="0"/>
			<xs:element ref="deversoirsV5P2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="deversLate" type="deversLate"/>
	<xs:complexType name="barragePrincipal">
		<xs:sequence>
			<xs:element ref="numBranche"/>
			<xs:element ref="abscisse"/>
			<xs:element ref="typeRupture"/>
			<xs:element ref="coteCrete"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="barragePrincipal" type="barragePrincipal"/>
	<xs:complexType name="seuils">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresSeuil"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="seuils" type="seuils"/>
	<xs:complexType name="structureParametresSeuil">
		<xs:sequence>
			<xs:element ref="nom"/>
			<xs:element ref="type"/>
			<xs:element ref="numBranche"/>
			<xs:element ref="abscisse"/>
			<xs:element ref="coteCrete"/>
			<xs:element ref="coteCreteMoy"/>
			<xs:element ref="coteRupture"/>
			<xs:element ref="coeffDebit"/>
			<xs:element ref="largVanne"/>
			<xs:element ref="numLoi"/>
			<xs:element ref="nbPtLoiSeuil" minOccurs="0"/>
			<xs:element ref="abscTravCrete" minOccurs="0"/>
			<xs:element ref="cotesCrete" minOccurs="0"/>
			<xs:element ref="epaisseur"/>
			<xs:element ref="gradient"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresSeuil" type="structureParametresSeuil"/>
	<xs:complexType name="pertesCharges">
		<xs:sequence>
			<xs:element ref="nbPerteCharge"/>
			<xs:element ref="numBranche" minOccurs="0"/>
			<xs:element ref="abscisses" minOccurs="0"/>
			<xs:element ref="coefficients" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="pertesCharges" type="pertesCharges"/>
	<xs:complexType name="liaisons">
		<xs:sequence>
			<xs:element ref="nbLiaisons"/>
			<xs:element ref="types" minOccurs="0"/>
			<xs:element ref="nature" minOccurs="0"/>
			<xs:element ref="cote" minOccurs="0"/>
			<xs:element ref="largeur" minOccurs="0"/>
			<xs:element ref="longueur" minOccurs="0"/>
			<xs:element ref="rugosite" minOccurs="0"/>
			<xs:element ref="section" minOccurs="0"/>
			<xs:element ref="coefPerteCharge" minOccurs="0"/>
			<xs:element ref="coefDebitSeuil" minOccurs="0"/>
			<xs:element ref="coefActivation" minOccurs="0"/>
			<xs:element ref="coefDebitOrifice" minOccurs="0"/>
			<xs:element ref="typeOrifice" minOccurs="0"/>
			<xs:element ref="numCasierOrigine" minOccurs="0"/>
			<xs:element ref="numCasierFin" minOccurs="0"/>
			<xs:element ref="numBiefAssocie" minOccurs="0"/>
			<xs:element ref="abscBief" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="liaisons" type="liaisons"/>
	<xs:complexType name="debitsApports">
		<xs:sequence>
			<xs:element ref="nbQApport"/>
			<xs:element ref="noms" minOccurs="0"/>
			<xs:element ref="numBranche" minOccurs="0"/>
			<xs:element ref="abscisses" minOccurs="0"/>
			<xs:element ref="longueurs" minOccurs="0"/>
			<xs:element ref="numLoi" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="debitsApports" type="debitsApports"/>
	<xs:complexType name="deversoirsV5P2">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresDeversoirsV5P2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="deversoirsV5P2" type="deversoirsV5P2"/>
	<xs:complexType name="structureParametresDeversoirsV5P2">
		<xs:sequence>
			<xs:element ref="nom"/>
			<xs:element ref="type"/>
			<xs:element ref="numBranche"/>
			<xs:element ref="abscisse"/>
			<xs:element ref="longueur"/>
			<xs:element ref="coteCrete" minOccurs="0"/>
			<xs:element ref="coeffDebit" minOccurs="0"/>
			<xs:element ref="numLoi" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresDeversoirsV5P2" type="structureParametresDeversoirsV5P2"/>
	<xs:complexType name="apportCasier">
		<xs:sequence>
			<xs:element ref="nbApportPluie"/>
			<xs:element ref="numCasier"/>
			<xs:element ref="numLoi"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="apportCasier" type="apportCasier"/>
	<xs:complexType name="frottement">
		<xs:sequence>
			<xs:element ref="loi"/>
			<xs:element ref="nbZone"/>
			<xs:element ref="numBranche" minOccurs="0"/>
			<xs:element ref="absDebZone" minOccurs="0"/>
			<xs:element ref="absFinZone" minOccurs="0"/>
			<xs:element ref="coefLitMin" minOccurs="0"/>
			<xs:element ref="coefLitMaj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="frottement" type="frottement"/>
	<xs:complexType name="zoneStockage">
		<xs:sequence>
			<xs:element ref="nbProfils"/>
			<xs:element ref="numProfil"/>
			<xs:element ref="limGauchLitMaj"/>
			<xs:element ref="limDroitLitMaj"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="zoneStockage" type="zoneStockage"/>
	<xs:complexType name="lois">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresLoi"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="lois" type="lois"/>
	<xs:complexType name="structureParametresLoi">
		<xs:sequence>
			<xs:element ref="nom"/>
			<xs:element ref="type"/>
			<xs:element ref="donnees" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresLoi" type="structureParametresLoi"/>
	<xs:complexType name="donnees">
		<xs:sequence>
			<xs:element ref="modeEntree"/>
			<xs:element ref="fichier"/>
			<xs:element ref="uniteTps"/>
			<xs:element ref="nbPoints"/>
			<xs:element ref="tps" minOccurs="0"/>
			<xs:element ref="cote" minOccurs="0"/>
			<xs:element ref="cote2" minOccurs="0"/>
			<xs:element ref="debit" minOccurs="0"/>
			<xs:element ref="nbDebitsDifferents" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="donnees" type="donnees"/>
	<xs:complexType name="repriseEtude">
		<xs:sequence>
			<xs:element ref="repriseCalcul" minOccurs="0"/>
			<xs:element ref="fichRepriseLec" minOccurs="0"/>
			<xs:element ref="formatBinFich" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="repriseEtude" type="repriseEtude"/>
	<xs:complexType name="ligneEau">
		<xs:sequence>
			<xs:element ref="LigEauInit"/>
			<xs:element ref="modeEntree" minOccurs="0"/>
			<xs:element ref="fichLigEau" minOccurs="0"/>
			<xs:element ref="formatFichLig" minOccurs="0"/>
			<xs:element ref="nbPts"/>
			<xs:element ref="branche" minOccurs="0"/>
			<xs:element ref="abscisse" minOccurs="0"/>
			<xs:element ref="cote" minOccurs="0"/>
			<xs:element ref="debit" minOccurs="0"/>
			<xs:element ref="coefMin" minOccurs="0"/>
			<xs:element ref="coefMaj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ligneEau" type="ligneEau"/>
	<xs:complexType name="casier">
		<xs:sequence>
			<xs:element ref="resultatCasier"/>
			<xs:element ref="listingCasier"/>
			<xs:element ref="resultatLiaison"/>
			<xs:element ref="listingLiaison"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="casier" type="casier"/>
	<xs:complexType name="parametres">
		<xs:sequence>
			<xs:element ref="modeCalageAuto"/>
			<xs:element ref="pasGradient"/>
			<xs:element ref="nbMaxIterations"/>
			<xs:element ref="typeLit"/>
			<xs:element ref="precision"/>
			<xs:element ref="roInit"/>
			<xs:element ref="methOptimisation"/>
			<xs:element ref="nomFichResult"/>
			<xs:element ref="nomFichListing"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametres" type="parametres"/>
	<xs:complexType name="zones">
		<xs:sequence>
			<xs:element ref="nbZones"/>
			<xs:element ref="absDebZone"/>
			<xs:element ref="absFinZone"/>
			<xs:element ref="coefLitMin"/>
			<xs:element ref="coefLitMaj"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="zones" type="zones"/>
	<xs:complexType name="listeCrues">
		<xs:sequence>
			<xs:element ref="nbCrues"/>
			<xs:element ref="crues" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listeCrues" type="listeCrues"/>
	<xs:complexType name="crues">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresCrueCalageAutomatique"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="crues" type="crues"/>
	<xs:complexType name="structureParametresCrueCalageAutomatique">
		<xs:sequence>
			<xs:element ref="debitAmont"/>
			<xs:element ref="coteAval"/>
			<xs:element ref="nbMesures"/>
			<xs:element ref="absMesures"/>
			<xs:element ref="coteMesures"/>
			<xs:element ref="pondMesures"/>
			<xs:element ref="nbApports"/>
			<xs:element ref="absApports"/>
			<xs:element ref="debitApports"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresCrueCalageAutomatique" type="structureParametresCrueCalageAutomatique"/>
	<xs:complexType name="zonesSeches">
		<xs:sequence>
			<xs:element ref="nb"/>
			<xs:element ref="branche"/>
			<xs:element ref="absDebut"/>
			<xs:element ref="absFin"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="zonesSeches" type="zonesSeches"/>
	<xs:complexType name="pasStockage">
		<xs:sequence>
			<xs:element ref="premPasTpsStock"/>
			<xs:element ref="pasStock"/>
			<xs:element ref="pasImpression"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="pasStockage" type="pasStockage"/>
	<xs:complexType name="resultats">
		<xs:sequence>
			<xs:element ref="fichResultat" minOccurs="0"/>
			<xs:element ref="fichResultat2" minOccurs="0"/>
			<xs:element ref="formatBinFich" minOccurs="0"/>
			<xs:element ref="postProcesseur" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="resultats" type="resultats"/>
	<xs:complexType name="bibliotheques">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="bibliotheque"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="bibliotheques" type="bibliotheques"/>
	<xs:complexType name="listing">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="fichListing"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listing" type="listing"/>
	<xs:complexType name="fichReprise">
		<xs:sequence>
			<xs:element ref="fichRepriseEcr" minOccurs="0"/>
			<xs:element ref="formatBinFich" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="fichReprise" type="fichReprise"/>
	<xs:complexType name="rubens">
		<xs:sequence>
			<xs:element ref="ecartInterBranch"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rubens" type="rubens"/>
	<xs:complexType name="stockage">
		<xs:sequence>
			<xs:element ref="option"/>
			<xs:element ref="nbSite"/>
			<xs:element ref="branche" minOccurs="0"/>
			<xs:element ref="abscisse" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="stockage" type="stockage"/>
	<xs:complexType name="parametresConditionsLimitesTraceur">
		<xs:sequence>
			<xs:element ref="typeCondLimTracer"/>
			<xs:element ref="numLoiCondLimTracer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresConditionsLimitesTraceur" type="parametresConditionsLimitesTraceur"/>
	<xs:complexType name="parametresConcentrationsInitialesTraceur">
		<xs:sequence>
			<xs:element ref="presenceConcInit"/>
			<xs:element ref="modeEntree"/>
			<xs:element ref="fichConcInit" minOccurs="0"/>
			<xs:element ref="nbPts"/>
			<xs:element ref="branche" minOccurs="0"/>
			<xs:element ref="abscisse" minOccurs="0"/>
			<xs:element ref="listeConcentrations" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresConcentrationsInitialesTraceur" type="parametresConcentrationsInitialesTraceur"/>
	<xs:complexType name="listeConcentrations">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureParametresConcentrations"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="listeConcentrations" type="listeConcentrations"/>
	<xs:complexType name="structureParametresConcentrations">
		<xs:sequence>
			<xs:element ref="concentrations"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureParametresConcentrations" type="structureParametresConcentrations"/>
	<xs:complexType name="parametresConvectionDiffusion">
		<xs:sequence>
			<xs:element ref="convectionTraceurs"/>
			<xs:element ref="optionConvection"/>
			<xs:element ref="ordreSchemaConvec"/>
			<xs:element ref="paramW"/>
			<xs:element ref="LimitPente"/>
			<xs:element ref="diffusionTraceurs"/>
			<xs:element ref="optionCalculDiffusion"/>
			<xs:element ref="coeffDiffusion1"/>
			<xs:element ref="coeffDiffusion2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresConvectionDiffusion" type="parametresConvectionDiffusion"/>
	<xs:complexType name="parametresNumeriquesQualiteEau">
		<xs:sequence>
			<xs:element ref="modeleQualiteEau"/>
			<xs:element ref="fichParamPhysiqueTracer" minOccurs="0"/>
			<xs:element ref="fichMeteoTracer" minOccurs="0"/>
			<xs:element ref="frequenceCouplHydroTracer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresNumeriquesQualiteEau" type="parametresNumeriquesQualiteEau"/>
	<xs:complexType name="parametresImpressionTraceur">
		<xs:sequence>
			<xs:element ref="fichListTracer"/>
			<xs:element ref="concentInit"/>
			<xs:element ref="loiTracer"/>
			<xs:element ref="concentrations"/>
			<xs:element ref="bilanTracer"/>
			<xs:element ref="fichResultTracer"/>
			<xs:element ref="formatFichResultat"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresImpressionTraceur" type="parametresImpressionTraceur"/>
	<xs:complexType name="parametresSourcesTraceur">
		<xs:sequence>
			<xs:element ref="nbSources"/>
			<xs:element ref="noms"/>
			<xs:element ref="typeSources"/>
			<xs:element ref="numBranche"/>
			<xs:element ref="abscisses"/>
			<xs:element ref="longueurs"/>
			<xs:element ref="numLoi"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresSourcesTraceur" type="parametresSourcesTraceur"/>
	<xs:complexType name="parametresLoisTraceur">
		<xs:sequence>
			<xs:element ref="nbLoisTracer"/>
			<xs:element ref="loisTracer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parametresLoisTraceur" type="parametresLoisTraceur"/>
	<xs:complexType name="loisTracer">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="structureSParametresLoiTraceur"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="loisTracer" type="loisTracer"/>
	<xs:complexType name="structureSParametresLoiTraceur">
		<xs:sequence>
			<xs:element ref="nom" minOccurs="0"/>
			<xs:element ref="modeEntree"/>
			<xs:element ref="fichier" minOccurs="0"/>
			<xs:element ref="uniteTps"/>
			<xs:element ref="nbPoints"/>
			<xs:element ref="tps" minOccurs="0"/>
			<xs:element ref="listeConcentrations" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="structureSParametresLoiTraceur" type="structureSParametresLoiTraceur"/>
	<xs:complexType name="versionCode" mixed="true"/>
	<xs:element name="versionCode" type="versionCode"/>
	<xs:complexType name="code" mixed="true"/>
	<xs:element name="code" type="code"/>
	<xs:complexType name="fichMotsCles" mixed="true"/>
	<xs:element name="fichMotsCles" type="fichMotsCles"/>
	<xs:complexType name="dictionaire" mixed="true"/>
	<xs:element name="dictionaire" type="dictionaire"/>
	<xs:complexType name="progPrincipal" mixed="true"/>
	<xs:element name="progPrincipal" type="progPrincipal"/>
	<xs:complexType name="sauveModele" mixed="true"/>
	<xs:element name="sauveModele" type="sauveModele"/>
	<xs:complexType name="fichSauvModele" mixed="true"/>
	<xs:element name="fichSauvModele" type="fichSauvModele"/>
	<xs:complexType name="validationCode" mixed="true"/>
	<xs:element name="validationCode" type="validationCode"/>
	<xs:complexType name="typeValidation" mixed="true"/>
	<xs:element name="typeValidation" type="typeValidation"/>
	<xs:complexType name="presenceCasiers" mixed="true"/>
	<xs:element name="presenceCasiers" type="presenceCasiers"/>
	<xs:complexType name="bibliotheque" mixed="true"/>
	<xs:element name="bibliotheque" type="bibliotheque"/>
	<xs:complexType name="perteChargeConf" mixed="true"/>
	<xs:element name="perteChargeConf" type="perteChargeConf"/>
	<xs:complexType name="compositionLits" mixed="true"/>
	<xs:element name="compositionLits" type="compositionLits"/>
	<xs:complexType name="conservFrotVertical" mixed="true"/>
	<xs:element name="conservFrotVertical" type="conservFrotVertical"/>
	<xs:complexType name="elevCoteArrivFront" mixed="true"/>
	<xs:element name="elevCoteArrivFront" type="elevCoteArrivFront"/>
	<xs:complexType name="interpolLinStrickler" mixed="true"/>
	<xs:element name="interpolLinStrickler" type="interpolLinStrickler"/>
	<xs:complexType name="litMajeur" mixed="true"/>
	<xs:element name="litMajeur" type="litMajeur"/>
	<xs:complexType name="zoneStock" mixed="true"/>
	<xs:element name="zoneStock" type="zoneStock"/>
	<xs:complexType name="calcOndeSubmersion" mixed="true"/>
	<xs:element name="calcOndeSubmersion" type="calcOndeSubmersion"/>
	<xs:complexType name="froudeLimCondLim" mixed="true"/>
	<xs:element name="froudeLimCondLim" type="froudeLimCondLim"/>
	<xs:complexType name="traitImplicitFrot" mixed="true"/>
	<xs:element name="traitImplicitFrot" type="traitImplicitFrot"/>
	<xs:complexType name="hauteurEauMini" mixed="true"/>
	<xs:element name="hauteurEauMini" type="hauteurEauMini"/>
	<xs:complexType name="implicitNoyauTrans" mixed="true"/>
	<xs:element name="implicitNoyauTrans" type="implicitNoyauTrans"/>
	<xs:complexType name="optimisNoyauTrans" mixed="true"/>
	<xs:element name="optimisNoyauTrans" type="optimisNoyauTrans"/>
	<xs:complexType name="perteChargeAutoElargissement" mixed="true"/>
	<xs:element name="perteChargeAutoElargissement" type="perteChargeAutoElargissement"/>
	<xs:complexType name="termesNonHydrostatiques" mixed="true"/>
	<xs:element name="termesNonHydrostatiques" type="termesNonHydrostatiques"/>
	<xs:complexType name="apportDebit" mixed="true"/>
	<xs:element name="apportDebit" type="apportDebit"/>
	<xs:complexType name="attenuationConvection" mixed="true"/>
	<xs:element name="attenuationConvection" type="attenuationConvection"/>
	<xs:complexType name="coefImplicationSystemeCasiers" mixed="true"/>
	<xs:element name="coefImplicationSystemeCasiers" type="coefImplicationSystemeCasiers"/>
	<xs:complexType name="coefImplicationDansCouplage" mixed="true"/>
	<xs:element name="coefImplicationDansCouplage" type="coefImplicationDansCouplage"/>
	<xs:complexType name="nbMaxIterationDansCouplage" mixed="true"/>
	<xs:element name="nbMaxIterationDansCouplage" type="nbMaxIterationDansCouplage"/>
	<xs:complexType name="pasTemps" mixed="true"/>
	<xs:element name="pasTemps" type="pasTemps"/>
	<xs:complexType name="tempsInit" mixed="true"/>
	<xs:element name="tempsInit" type="tempsInit"/>
	<xs:complexType name="critereArret" mixed="true"/>
	<xs:element name="critereArret" type="critereArret"/>
	<xs:complexType name="nbPasTemps" mixed="true"/>
	<xs:element name="nbPasTemps" type="nbPasTemps"/>
	<xs:complexType name="tempsMax" mixed="true"/>
	<xs:element name="tempsMax" type="tempsMax"/>
	<xs:complexType name="pasTempsVar" mixed="true"/>
	<xs:element name="pasTempsVar" type="pasTempsVar"/>
	<xs:complexType name="nbCourant" mixed="true"/>
	<xs:element name="nbCourant" type="nbCourant"/>
	<xs:complexType name="coteMax" mixed="true"/>
	<xs:element name="coteMax" type="coteMax"/>
	<xs:complexType name="abscisseControle" mixed="true"/>
	<xs:element name="abscisseControle" type="abscisseControle"/>
	<xs:complexType name="biefControle" mixed="true"/>
	<xs:element name="biefControle" type="biefControle"/>
	<xs:complexType name="impressionGeometrie" mixed="true"/>
	<xs:element name="impressionGeometrie" type="impressionGeometrie"/>
	<xs:complexType name="impressionPlanimetrage" mixed="true"/>
	<xs:element name="impressionPlanimetrage" type="impressionPlanimetrage"/>
	<xs:complexType name="impressionReseau" mixed="true"/>
	<xs:element name="impressionReseau" type="impressionReseau"/>
	<xs:complexType name="impressionLoiHydraulique" mixed="true"/>
	<xs:element name="impressionLoiHydraulique" type="impressionLoiHydraulique"/>
	<xs:complexType name="impressionligneEauInitiale" mixed="true"/>
	<xs:element name="impressionligneEauInitiale" type="impressionligneEauInitiale"/>
	<xs:complexType name="impressionCalcul" mixed="true"/>
	<xs:element name="impressionCalcul" type="impressionCalcul"/>
	<xs:complexType name="fichier" mixed="true"/>
	<xs:element name="fichier" type="fichier"/>
	<xs:complexType name="format" mixed="true"/>
	<xs:element name="format" type="format"/>
	<xs:complexType name="profilsAbscAbsolu" mixed="true"/>
	<xs:element name="profilsAbscAbsolu" type="profilsAbscAbsolu"/>
	<xs:complexType name="titreCalcul" mixed="true"/>
	<xs:element name="titreCalcul" type="titreCalcul"/>
	<xs:complexType name="nb" mixed="true"/>
	<xs:element name="nb" type="nb"/>
	<xs:complexType name="numeros" mixed="true"/>
	<xs:element name="numeros" type="numeros"/>
	<xs:complexType name="abscDebut" mixed="true"/>
	<xs:element name="abscDebut" type="abscDebut"/>
	<xs:complexType name="abscFin" mixed="true"/>
	<xs:element name="abscFin" type="abscFin"/>
	<xs:complexType name="numExtremDebut" mixed="true"/>
	<xs:element name="numExtremDebut" type="numExtremDebut"/>
	<xs:complexType name="numExtremFin" mixed="true"/>
	<xs:element name="numExtremFin" type="numExtremFin"/>
	<xs:complexType name="num" mixed="true"/>
	<xs:element name="num" type="num"/>
	<xs:complexType name="numExtrem" mixed="true"/>
	<xs:element name="numExtrem" type="numExtrem"/>
	<xs:complexType name="string" mixed="true"/>
	<xs:element name="string" type="string"/>
	<xs:complexType name="typeCond" mixed="true"/>
	<xs:element name="typeCond" type="typeCond"/>
	<xs:complexType name="numLoi" mixed="true"/>
	<xs:element name="numLoi" type="numLoi"/>
	<xs:complexType name="nbConfluents" mixed="true"/>
	<xs:element name="nbConfluents" type="nbConfluents"/>
	<xs:complexType name="nbAffluent" mixed="true"/>
	<xs:element name="nbAffluent" type="nbAffluent"/>
	<xs:complexType name="nom" mixed="true"/>
	<xs:element name="nom" type="nom"/>
	<xs:complexType name="abscisses" mixed="true"/>
	<xs:element name="abscisses" type="abscisses"/>
	<xs:complexType name="ordonnees" mixed="true"/>
	<xs:element name="ordonnees" type="ordonnees"/>
	<xs:complexType name="angles" mixed="true"/>
	<xs:element name="angles" type="angles"/>
	<xs:complexType name="methodeMaillage" mixed="true"/>
	<xs:element name="methodeMaillage" type="methodeMaillage"/>
	<xs:complexType name="nbPas" mixed="true"/>
	<xs:element name="nbPas" type="nbPas"/>
	<xs:complexType name="nbZones" mixed="true"/>
	<xs:element name="nbZones" type="nbZones"/>
	<xs:complexType name="valeursPas" mixed="true"/>
	<xs:element name="valeursPas" type="valeursPas"/>
	<xs:complexType name="num1erProf" mixed="true"/>
	<xs:element name="num1erProf" type="num1erProf"/>
	<xs:complexType name="numDerProf" mixed="true"/>
	<xs:element name="numDerProf" type="numDerProf"/>
	<xs:complexType name="modeSaisie" mixed="true"/>
	<xs:element name="modeSaisie" type="modeSaisie"/>
	<xs:complexType name="fichMaillage" mixed="true"/>
	<xs:element name="fichMaillage" type="fichMaillage"/>
	<xs:complexType name="sauvMaillage" mixed="true"/>
	<xs:element name="sauvMaillage" type="sauvMaillage"/>
	<xs:complexType name="fichSauvMaillage" mixed="true"/>
	<xs:element name="fichSauvMaillage" type="fichSauvMaillage"/>
	<xs:complexType name="nbSections" mixed="true"/>
	<xs:element name="nbSections" type="nbSections"/>
	<xs:complexType name="numSection" mixed="true"/>
	<xs:element name="numSection" type="numSection"/>
	<xs:complexType name="branchesSection" mixed="true"/>
	<xs:element name="branchesSection" type="branchesSection"/>
	<xs:complexType name="absSection" mixed="true"/>
	<xs:element name="absSection" type="absSection"/>
	<xs:complexType name="nbPlages" mixed="true"/>
	<xs:element name="nbPlages" type="nbPlages"/>
	<xs:complexType name="num1erProfPlage" mixed="true"/>
	<xs:element name="num1erProfPlage" type="num1erProfPlage"/>
	<xs:complexType name="numDerProfPlage" mixed="true"/>
	<xs:element name="numDerProfPlage" type="numDerProfPlage"/>
	<xs:complexType name="pasEspacePlage" mixed="true"/>
	<xs:element name="pasEspacePlage" type="pasEspacePlage"/>
	<xs:complexType name="numBrancheZone" mixed="true"/>
	<xs:element name="numBrancheZone" type="numBrancheZone"/>
	<xs:complexType name="absDebutZone" mixed="true"/>
	<xs:element name="absDebutZone" type="absDebutZone"/>
	<xs:complexType name="absFinZone" mixed="true"/>
	<xs:element name="absFinZone" type="absFinZone"/>
	<xs:complexType name="nbSectionZone" mixed="true"/>
	<xs:element name="nbSectionZone" type="nbSectionZone"/>
	<xs:complexType name="nbSeuils" mixed="true"/>
	<xs:element name="nbSeuils" type="nbSeuils"/>
	<xs:complexType name="numBranche" mixed="true"/>
	<xs:element name="numBranche" type="numBranche"/>
	<xs:complexType name="abscisse" mixed="true"/>
	<xs:element name="abscisse" type="abscisse"/>
	<xs:complexType name="typeRupture" mixed="true"/>
	<xs:element name="typeRupture" type="typeRupture"/>
	<xs:complexType name="coteCrete" mixed="true"/>
	<xs:element name="coteCrete" type="coteCrete"/>
	<xs:complexType name="type" mixed="true"/>
	<xs:element name="type" type="type"/>
	<xs:complexType name="coteCreteMoy" mixed="true"/>
	<xs:element name="coteCreteMoy" type="coteCreteMoy"/>
	<xs:complexType name="coteRupture" mixed="true"/>
	<xs:element name="coteRupture" type="coteRupture"/>
	<xs:complexType name="coeffDebit" mixed="true"/>
	<xs:element name="coeffDebit" type="coeffDebit"/>
	<xs:complexType name="largVanne" mixed="true"/>
	<xs:element name="largVanne" type="largVanne"/>
	<xs:complexType name="nbPtLoiSeuil" mixed="true"/>
	<xs:element name="nbPtLoiSeuil" type="nbPtLoiSeuil"/>
	<xs:complexType name="abscTravCrete" mixed="true"/>
	<xs:element name="abscTravCrete" type="abscTravCrete"/>
	<xs:complexType name="cotesCrete" mixed="true"/>
	<xs:element name="cotesCrete" type="cotesCrete"/>
	<xs:complexType name="epaisseur" mixed="true"/>
	<xs:element name="epaisseur" type="epaisseur"/>
	<xs:complexType name="gradient" mixed="true"/>
	<xs:element name="gradient" type="gradient"/>
	<xs:complexType name="nbPerteCharge" mixed="true"/>
	<xs:element name="nbPerteCharge" type="nbPerteCharge"/>
	<xs:complexType name="coefficients" mixed="true"/>
	<xs:element name="coefficients" type="coefficients"/>
	<xs:complexType name="nbCasiers" mixed="true"/>
	<xs:element name="nbCasiers" type="nbCasiers"/>
	<xs:complexType name="optionPlanimetrage" mixed="true"/>
	<xs:element name="optionPlanimetrage" type="optionPlanimetrage"/>
	<xs:complexType name="optionCalcul" mixed="true"/>
	<xs:element name="optionCalcul" type="optionCalcul"/>
	<xs:complexType name="fichierGeomCasiers" mixed="true"/>
	<xs:element name="fichierGeomCasiers" type="fichierGeomCasiers"/>
	<xs:complexType name="cotesInitiale" mixed="true"/>
	<xs:element name="cotesInitiale" type="cotesInitiale"/>
	<xs:complexType name="pasPlanimetrage" mixed="true"/>
	<xs:element name="pasPlanimetrage" type="pasPlanimetrage"/>
	<xs:complexType name="nbCotesPlanimetrage" mixed="true"/>
	<xs:element name="nbCotesPlanimetrage" type="nbCotesPlanimetrage"/>
	<xs:complexType name="nbLiaisons" mixed="true"/>
	<xs:element name="nbLiaisons" type="nbLiaisons"/>
	<xs:complexType name="types" mixed="true"/>
	<xs:element name="types" type="types"/>
	<xs:complexType name="nature" mixed="true"/>
	<xs:element name="nature" type="nature"/>
	<xs:complexType name="cote" mixed="true"/>
	<xs:element name="cote" type="cote"/>
	<xs:complexType name="largeur" mixed="true"/>
	<xs:element name="largeur" type="largeur"/>
	<xs:complexType name="longueur" mixed="true"/>
	<xs:element name="longueur" type="longueur"/>
	<xs:complexType name="rugosite" mixed="true"/>
	<xs:element name="rugosite" type="rugosite"/>
	<xs:complexType name="section" mixed="true"/>
	<xs:element name="section" type="section"/>
	<xs:complexType name="coefPerteCharge" mixed="true"/>
	<xs:element name="coefPerteCharge" type="coefPerteCharge"/>
	<xs:complexType name="coefDebitSeuil" mixed="true"/>
	<xs:element name="coefDebitSeuil" type="coefDebitSeuil"/>
	<xs:complexType name="coefActivation" mixed="true"/>
	<xs:element name="coefActivation" type="coefActivation"/>
	<xs:complexType name="coefDebitOrifice" mixed="true"/>
	<xs:element name="coefDebitOrifice" type="coefDebitOrifice"/>
	<xs:complexType name="typeOrifice" mixed="true"/>
	<xs:element name="typeOrifice" type="typeOrifice"/>
	<xs:complexType name="numCasierOrigine" mixed="true"/>
	<xs:element name="numCasierOrigine" type="numCasierOrigine"/>
	<xs:complexType name="numCasierFin" mixed="true"/>
	<xs:element name="numCasierFin" type="numCasierFin"/>
	<xs:complexType name="numBiefAssocie" mixed="true"/>
	<xs:element name="numBiefAssocie" type="numBiefAssocie"/>
	<xs:complexType name="abscBief" mixed="true"/>
	<xs:element name="abscBief" type="abscBief"/>
	<xs:complexType name="nbQApport" mixed="true"/>
	<xs:element name="nbQApport" type="nbQApport"/>
	<xs:complexType name="noms">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="noms" type="noms"/>
	<xs:complexType name="longueurs" mixed="true"/>
	<xs:element name="longueurs" type="longueurs"/>
	<xs:complexType name="nbDeversoirs" mixed="true"/>
	<xs:element name="nbDeversoirs" type="nbDeversoirs"/>
	<xs:complexType name="nbApportPluie" mixed="true"/>
	<xs:element name="nbApportPluie" type="nbApportPluie"/>
	<xs:complexType name="numCasier" mixed="true"/>
	<xs:element name="numCasier" type="numCasier"/>
	<xs:complexType name="loi" mixed="true"/>
	<xs:element name="loi" type="loi"/>
	<xs:complexType name="nbZone" mixed="true"/>
	<xs:element name="nbZone" type="nbZone"/>
	<xs:complexType name="absDebZone" mixed="true"/>
	<xs:element name="absDebZone" type="absDebZone"/>
	<xs:complexType name="coefLitMin" mixed="true"/>
	<xs:element name="coefLitMin" type="coefLitMin"/>
	<xs:complexType name="coefLitMaj" mixed="true"/>
	<xs:element name="coefLitMaj" type="coefLitMaj"/>
	<xs:complexType name="nbProfils" mixed="true"/>
	<xs:element name="nbProfils" type="nbProfils"/>
	<xs:complexType name="numProfil" mixed="true"/>
	<xs:element name="numProfil" type="numProfil"/>
	<xs:complexType name="limGauchLitMaj" mixed="true"/>
	<xs:element name="limGauchLitMaj" type="limGauchLitMaj"/>
	<xs:complexType name="limDroitLitMaj" mixed="true"/>
	<xs:element name="limDroitLitMaj" type="limDroitLitMaj"/>
	<xs:complexType name="modeEntree" mixed="true"/>
	<xs:element name="modeEntree" type="modeEntree"/>
	<xs:complexType name="uniteTps" mixed="true"/>
	<xs:element name="uniteTps" type="uniteTps"/>
	<xs:complexType name="nbPoints" mixed="true"/>
	<xs:element name="nbPoints" type="nbPoints"/>
	<xs:complexType name="tps" mixed="true"/>
	<xs:element name="tps" type="tps"/>
	<xs:complexType name="cote2" mixed="true"/>
	<xs:element name="cote2" type="cote2"/>
	<xs:complexType name="debit" mixed="true"/>
	<xs:element name="debit" type="debit"/>
	<xs:complexType name="nbDebitsDifferents" mixed="true"/>
	<xs:element name="nbDebitsDifferents" type="nbDebitsDifferents"/>
	<xs:complexType name="repriseCalcul" mixed="true"/>
	<xs:element name="repriseCalcul" type="repriseCalcul"/>
	<xs:complexType name="fichRepriseLec" mixed="true"/>
	<xs:element name="fichRepriseLec" type="fichRepriseLec"/>
	<xs:complexType name="formatBinFich" mixed="true"/>
	<xs:element name="formatBinFich" type="formatBinFich"/>
	<xs:complexType name="LigEauInit" mixed="true"/>
	<xs:element name="LigEauInit" type="LigEauInit"/>
	<xs:complexType name="fichLigEau" mixed="true"/>
	<xs:element name="fichLigEau" type="fichLigEau"/>
	<xs:complexType name="formatFichLig" mixed="true"/>
	<xs:element name="formatFichLig" type="formatFichLig"/>
	<xs:complexType name="nbPts" mixed="true"/>
	<xs:element name="nbPts" type="nbPts"/>
	<xs:complexType name="branche" mixed="true"/>
	<xs:element name="branche" type="branche"/>
	<xs:complexType name="coefMin" mixed="true"/>
	<xs:element name="coefMin" type="coefMin"/>
	<xs:complexType name="coefMaj" mixed="true"/>
	<xs:element name="coefMaj" type="coefMaj"/>
	<xs:complexType name="absDebut" mixed="true"/>
	<xs:element name="absDebut" type="absDebut"/>
	<xs:complexType name="absFin" mixed="true"/>
	<xs:element name="absFin" type="absFin"/>
	<xs:complexType name="planimetrage" mixed="true"/>
	<xs:element name="planimetrage" type="planimetrage"/>
	<xs:complexType name="reseau" mixed="true"/>
	<xs:element name="reseau" type="reseau"/>
	<xs:complexType name="loiHydrau" mixed="true"/>
	<xs:element name="loiHydrau" type="loiHydrau"/>
	<xs:complexType name="ligneEauInit" mixed="true"/>
	<xs:element name="ligneEauInit" type="ligneEauInit"/>
	<xs:complexType name="calcul" mixed="true"/>
	<xs:element name="calcul" type="calcul"/>
	<xs:complexType name="premPasTpsStock" mixed="true"/>
	<xs:element name="premPasTpsStock" type="premPasTpsStock"/>
	<xs:complexType name="pasStock" mixed="true"/>
	<xs:element name="pasStock" type="pasStock"/>
	<xs:complexType name="pasImpression" mixed="true"/>
	<xs:element name="pasImpression" type="pasImpression"/>
	<xs:complexType name="fichResultat" mixed="true"/>
	<xs:element name="fichResultat" type="fichResultat"/>
	<xs:complexType name="fichResultat2" mixed="true"/>
	<xs:element name="fichResultat2" type="fichResultat2"/>
	<xs:complexType name="postProcesseur" mixed="true"/>
	<xs:element name="postProcesseur" type="postProcesseur"/>
	<xs:complexType name="fichListing" mixed="true"/>
	<xs:element name="fichListing" type="fichListing"/>
	<xs:complexType name="fichRepriseEcr" mixed="true"/>
	<xs:element name="fichRepriseEcr" type="fichRepriseEcr"/>
	<xs:complexType name="ecartInterBranch" mixed="true"/>
	<xs:element name="ecartInterBranch" type="ecartInterBranch"/>
	<xs:complexType name="option" mixed="true"/>
	<xs:element name="option" type="option"/>
	<xs:complexType name="nbSite" mixed="true"/>
	<xs:element name="nbSite" type="nbSite"/>
	<xs:complexType name="resultatCasier" mixed="true"/>
	<xs:element name="resultatCasier" type="resultatCasier"/>
	<xs:complexType name="listingCasier" mixed="true"/>
	<xs:element name="listingCasier" type="listingCasier"/>
	<xs:complexType name="resultatLiaison" mixed="true"/>
	<xs:element name="resultatLiaison" type="resultatLiaison"/>
	<xs:complexType name="listingLiaison" mixed="true"/>
	<xs:element name="listingLiaison" type="listingLiaison"/>
	<xs:complexType name="variablesCalculees" mixed="true"/>
	<xs:element name="variablesCalculees" type="variablesCalculees"/>
	<xs:complexType name="variablesStockees" mixed="true"/>
	<xs:element name="variablesStockees" type="variablesStockees"/>
	<xs:complexType name="modeCalageAuto" mixed="true"/>
	<xs:element name="modeCalageAuto" type="modeCalageAuto"/>
	<xs:complexType name="pasGradient" mixed="true"/>
	<xs:element name="pasGradient" type="pasGradient"/>
	<xs:complexType name="nbMaxIterations" mixed="true"/>
	<xs:element name="nbMaxIterations" type="nbMaxIterations"/>
	<xs:complexType name="typeLit" mixed="true"/>
	<xs:element name="typeLit" type="typeLit"/>
	<xs:complexType name="precision" mixed="true"/>
	<xs:element name="precision" type="precision"/>
	<xs:complexType name="roInit" mixed="true"/>
	<xs:element name="roInit" type="roInit"/>
	<xs:complexType name="methOptimisation" mixed="true"/>
	<xs:element name="methOptimisation" type="methOptimisation"/>
	<xs:complexType name="nomFichResult" mixed="true"/>
	<xs:element name="nomFichResult" type="nomFichResult"/>
	<xs:complexType name="nomFichListing" mixed="true"/>
	<xs:element name="nomFichListing" type="nomFichListing"/>
	<xs:complexType name="nbCrues" mixed="true"/>
	<xs:element name="nbCrues" type="nbCrues"/>
	<xs:complexType name="debitAmont" mixed="true"/>
	<xs:element name="debitAmont" type="debitAmont"/>
	<xs:complexType name="coteAval" mixed="true"/>
	<xs:element name="coteAval" type="coteAval"/>
	<xs:complexType name="nbMesures" mixed="true"/>
	<xs:element name="nbMesures" type="nbMesures"/>
	<xs:complexType name="absMesures" mixed="true"/>
	<xs:element name="absMesures" type="absMesures"/>
	<xs:complexType name="coteMesures" mixed="true"/>
	<xs:element name="coteMesures" type="coteMesures"/>
	<xs:complexType name="pondMesures" mixed="true"/>
	<xs:element name="pondMesures" type="pondMesures"/>
	<xs:complexType name="nbApports" mixed="true"/>
	<xs:element name="nbApports" type="nbApports"/>
	<xs:complexType name="absApports" mixed="true"/>
	<xs:element name="absApports" type="absApports"/>
	<xs:complexType name="debitApports" mixed="true"/>
	<xs:element name="debitApports" type="debitApports"/>
	<xs:complexType name="presenceTraceurs" mixed="true"/>
	<xs:element name="presenceTraceurs" type="presenceTraceurs"/>
	<xs:complexType name="nbTraceur" mixed="true"/>
	<xs:element name="nbTraceur" type="nbTraceur"/>
	<xs:complexType name="convectionTraceurs" mixed="true"/>
	<xs:element name="convectionTraceurs" type="convectionTraceurs"/>
	<xs:complexType name="optionConvection" mixed="true"/>
	<xs:element name="optionConvection" type="optionConvection"/>
	<xs:complexType name="ordreSchemaConvec" mixed="true"/>
	<xs:element name="ordreSchemaConvec" type="ordreSchemaConvec"/>
	<xs:complexType name="paramW" mixed="true"/>
	<xs:element name="paramW" type="paramW"/>
	<xs:complexType name="LimitPente" mixed="true"/>
	<xs:element name="LimitPente" type="LimitPente"/>
	<xs:complexType name="diffusionTraceurs" mixed="true"/>
	<xs:element name="diffusionTraceurs" type="diffusionTraceurs"/>
	<xs:complexType name="optionCalculDiffusion" mixed="true"/>
	<xs:element name="optionCalculDiffusion" type="optionCalculDiffusion"/>
	<xs:complexType name="coeffDiffusion1" mixed="true"/>
	<xs:element name="coeffDiffusion1" type="coeffDiffusion1"/>
	<xs:complexType name="coeffDiffusion2" mixed="true"/>
	<xs:element name="coeffDiffusion2" type="coeffDiffusion2"/>
	<xs:complexType name="modeleQualiteEau" mixed="true"/>
	<xs:element name="modeleQualiteEau" type="modeleQualiteEau"/>
	<xs:complexType name="fichParamPhysiqueTracer" mixed="true"/>
	<xs:element name="fichParamPhysiqueTracer" type="fichParamPhysiqueTracer"/>
	<xs:complexType name="fichMeteoTracer" mixed="true"/>
	<xs:element name="fichMeteoTracer" type="fichMeteoTracer"/>
	<xs:complexType name="frequenceCouplHydroTracer" mixed="true"/>
	<xs:element name="frequenceCouplHydroTracer" type="frequenceCouplHydroTracer"/>
	<xs:complexType name="fichListTracer" mixed="true"/>
	<xs:element name="fichListTracer" type="fichListTracer"/>
	<xs:complexType name="concentInit" mixed="true"/>
	<xs:element name="concentInit" type="concentInit"/>
	<xs:complexType name="loiTracer" mixed="true"/>
	<xs:element name="loiTracer" type="loiTracer"/>
	<xs:complexType name="concentrations" mixed="true"/>
	<xs:element name="concentrations" type="concentrations"/>
	<xs:complexType name="bilanTracer" mixed="true"/>
	<xs:element name="bilanTracer" type="bilanTracer"/>
	<xs:complexType name="fichResultTracer" mixed="true"/>
	<xs:element name="fichResultTracer" type="fichResultTracer"/>
	<xs:complexType name="formatFichResultat" mixed="true"/>
	<xs:element name="formatFichResultat" type="formatFichResultat"/>
	<xs:complexType name="typeCondLimTracer" mixed="true"/>
	<xs:element name="typeCondLimTracer" type="typeCondLimTracer"/>
	<xs:complexType name="numLoiCondLimTracer" mixed="true"/>
	<xs:element name="numLoiCondLimTracer" type="numLoiCondLimTracer"/>
	<xs:complexType name="presenceConcInit" mixed="true"/>
	<xs:element name="presenceConcInit" type="presenceConcInit"/>
	<xs:complexType name="fichConcInit" mixed="true"/>
	<xs:element name="fichConcInit" type="fichConcInit"/>
	<xs:complexType name="nbSources" mixed="true"/>
	<xs:element name="nbSources" type="nbSources"/>
	<xs:complexType name="typeSources" mixed="true"/>
	<xs:element name="typeSources" type="typeSources"/>
	<xs:complexType name="nbLoisTracer" mixed="true"/>
	<xs:element name="nbLoisTracer" type="nbLoisTracer"/>
</xs:schema>